[2020-09-30 00:47] edwardhartnett opened #4 "Update README"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/120

[2020-09-30 00:48] edwardhartnett opened #5 "Add doxygen documentation"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/121

[2020-09-30 00:49] edwardhartnett opened #6 "Do a proper release"
I note there are no actual releases on github. There should be. ;-)

For releases see https://github.com/NOAA-EMC/NCEPLIBS/issues/131

[2020-10-06 21:18] edwardhartnett commented on #4
README should include info from https://github.com/NOAA-EMC/NCEPLIBS/issues/135

[2020-10-20 11:48] edwardhartnett opened #7 "Add github actions CI test runs"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/130

[2020-10-20 11:49] edwardhartnett opened #8 "Add unit tests"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/130

[2020-10-20 17:29] Hang-Lei-NOAA opened #10 "G2C cannot build with new version jasper lib"
The g2c lib cmake build cannot build with jasper version after 1.900.1. This is caused by the upgraded jasper lib does not support inmem union category. Therefore, it reports error on line 124 of enc_jpeg2000.c file.
The line use inmem category should be comment out to build with upgraded jasper lib.

It is linked with the pull request
fix the inmem issue casued by jasper lib upgrade (#9)

[2020-10-20 17:29] Hang-Lei-NOAA commented on #10
Done

[2020-10-20 17:29] #10 closed, assigned to Hang-Lei-NOAA

[2020-10-20 17:33] Hang-Lei-NOAA opened #11 "Need a new tag for g2c cmake version"
We need a new tag for g2c  cmake version.
Please the code manager of g2c to create a tag and give a new version number for the latest update.
Please also remember to update the old version number in the readme.
Thanks

[2020-10-20 17:37] edwardhartnett commented on #11
Let us do a release as outlined here: https://github.com/NOAA-EMC/NCEPLIBS/issues/131

So not just a tag, but a full release.

In practice, it won't make much difference since we don't have documentation to update, but let's get rolling on proper releases,

Does this library build from tarball, or does it depend on cmake code from other projects?

[2020-10-20 17:40] Hang-Lei-NOAA commented on #11
It builds from tarball.
Yes, it needs a cmake version for NCO.

[2020-10-21 15:26] edwardhartnett opened #12 "Add CI"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/130

[2020-10-21 15:27] kgerheiser commented on #12
I was planning on doing that today

[2020-10-21 15:39] #4 closed, assigned to edwardhartnett

[2020-10-22 13:45] #12 closed, assigned to kgerheiser

[2020-10-22 17:11] edwardhartnett opened #16 "File src/Alias.c does not seem to be used anywhere and should be removed"
File src/Alias.c does not seem to be used anywhere and should be removed

[2020-10-23 12:54] edwardhartnett opened #19 "Change branch protection settings for develop branch"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-10-23 12:55] edwardhartnett commented on #19
I have turned on the necessary protections.

[2020-10-23 12:55] #19 closed, assigned to edwardhartnett

[2020-10-23 13:36] edwardhartnett opened #20 "Remove mention of old build system from README"
The README says:

Well that's no good.

[2020-10-23 13:45] edwardhartnett opened #21 "CMake options of mixed case?"
In the CMakeLists.txt for this project we have:

[code]

Note that the last two options are mixed case. I'm not an expert on CMake (yet), but it seems all the options I've seen so far are all upper-case. Should we be following that convention with our options?

@kgerheiser  @aerorahul @mark-a-potts what do you guys think?

[2020-10-23 13:48] aerorahul commented on #21
The mixed case use is because of the `find_package` convention for those packages.
For e.g. jasper can be found in cmake via `find_package(Jasper)`.  Internally, `find_package` searches for the Jasper library in locations such as `Jasper_ROOT`.
Same for `OpenJPEG`.  The CMake provided file to find these packages are `FindJasper.cmake`

[2020-10-24 13:10] edwardhartnett commented on #21
OK, thanks for the explanation.

[2020-10-24 13:10] #21 closed, assigned to edwardhartnett

[2020-10-26 13:52] #20 closed, assigned to edwardhartnett

[2020-10-27 12:30] #5 closed, assigned to nobody

[2020-11-13 14:07] edwardhartnett commented on #6
@Hang-Lei-NOAA and @BoiVuong-NOAA we need a proper release with:
* tagged repo
* release notes on GitHub
* tarball distribution uploaded to github.

I'll start with the release notes...

[2020-11-13 14:13] Hang-Lei-NOAA commented on #6
Hi, Ed and Boi

I added a brief release note for the changes.
Could you please modify if more detailed information is needed?

Thanks,
Hang

On Fri, Nov 13, 2020 at 9:07 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-13 14:41] #7 closed, assigned to nobody

[2020-11-13 14:43] edwardhartnett opened #25 "Version needs to be updated for the latest release"
The VERSION file has the wrong version.

[2020-11-13 14:50] edwardhartnett opened #26 "Doxygen documentation needs to be updated on branch gh-pages"
After #25 is complete, the documentation needs to be rebuilt, and then copied to the gh-pages branch.

@BoiVuong-NOAA this is a good time to handle this, since you are code manager for this repo.

What you do is first build the docs:

[code]

Now the docs are in NCEPLIBS-g2c/build/docs/html.

Then, take another clone of the repo, switch to the gh-pages branch, delete contents, and add the HTML out

[2020-11-13 14:57] BoiVuong-NOAA commented on #26
Hi Ed,
I will work on Doxygen for g2c in next week.  I am working on bufr lib for gsf downstream and util_shared for gsf v15.3.3.

[2020-11-13 15:06] #25 closed, assigned to Hang-Lei-NOAA

[2020-11-13 15:42] edwardhartnett commented on #25
What happened to 1.6.1?

[2020-11-13 18:36] edwardhartnett opened #29 "Cause CMake to update version in header file src/grib2.h"
I see this in src/grib2.h:

`#define G2_VERSION "g2clib-1.6.0"
`￼

So presumably this also has to be updated in the 1.6.2 release. (@Hang-Lei-NOAA )

Also this should not be in the header file. Instead, we should have a grib2.h.in file, and CMake should fill in the version using variable substitution.

[2020-11-13 18:38] Hang-Lei-NOAA commented on #29
yes you are right

On Fri, Nov 13, 2020 at 1:37 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-13 18:42] DusanJovic-NOAA opened #30 "Remove __64BIT__ compile definition (cpp macro)"
Instead of using compile time (cpp) macro to define the type of g2int and g2intu use standard fixed width integer types.
PR #28

[2020-11-13 18:53] Hang-Lei-NOAA commented on #29
The old rule is that the code manager should tag and release.
I suggest that let the code manager remove Tag 1.6.2, which I created for
hpc-stack installation and create a new tag/release.

Also the tag name convention needs to be discussed.  There were many
changes in naming the Tag in the past several years.
The latest rule was only v2.2.3 for a tag in a repo.    We used to have
like nemsio_v2.2

[2020-11-13 19:00] edwardhartnett commented on #26
It's not acceptable for the documentation to be broken.

I have done the update.

[2020-11-13 19:00] #26 closed, assigned to BoiVuong-NOAA

[2020-11-13 19:02] edwardhartnett commented on #29
Do not undo this now, we are almost complete with the full release.

In future, please follow the procedure, but it will take us some time to get used to it.

We can discuss the tag name in the thread under NCEPLIBS. I don't mind what it is, but it should be the same across NCEPLIBS. It it has not been, then we will make it so moving forward.

[2020-11-13 19:03] edwardhartnett commented on #29
Also this issue does not relate to the 1.6.2 release. That can be fixed manually. THis issue is to automate this for future releases, so we won't have to manually update src/grib2.h each time we do a release.

[2020-11-13 19:10] Hang-Lei-NOAA commented on #29
I agree with you to have the grib2.h.in file.
It is very good with clear rules announced to define each step and role of
code manager and developers.

On Fri, Nov 13, 2020 at 2:04 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-16 18:09] DusanJovic-NOAA opened #31 "Update README.md"
The first paragraph in "Installing" section is misleading. The "//" is valid C style comment. Also there's no makefile in this repository.

[2020-11-17 14:38] DusanJovic-NOAA commented on #31
Name of this library is "g2c" not "g2clib".

[2020-11-17 15:09] DusanJovic-NOAA opened #32 "DUMP_JPEG_STREAM debug code should be removed from src/decenc_openjpeg.c"
In PR #3 I forgot to remove debug code in src/decenc_openjpeg.c that dumps jpeg stream to a file. It should be removed.

[2020-11-19 15:25] #6 closed, assigned to edwardhartnett

[2020-11-23 13:39] edwardhartnett commented on #11
This version has been released, so I will close this issue.

[2020-11-23 13:39] #11 closed, assigned to edwardhartnett, BoiVuong-NOAA

[2020-11-23 13:40] edwardhartnett opened #34 "handle a larger input GRIB2 file (>2GB) and convert it to GRIB1"
@BoiVuong-NOAA mentioned this task in an email.

Can we get some more detail please? When is it needed by?

Also, please implement unit tests with this change. No more code changes are permitted without tests to verify their correctness.

[2020-11-24 13:32] BoiVuong-NOAA commented on #34
File sizes will keep increasing while the model resolution gets higher and higher.
It will need in April or May 2021.

[2020-11-24 13:38] edwardhartnett commented on #34
Why do GRIB2 files need to be converted to GRIB1?

What programs do this? Are they in UPP or UFS_UTIL? Or elsewhere?

[2020-11-24 13:43] BoiVuong-NOAA commented on #34
In NWPROD (operational), Some models still use GRIB1 file.  The program
is cnvgrib and it is in grib_util.

On 11/24/2020 8:38 AM, Edward Hartnett wrote:

[2020-11-24 13:50] edwardhartnett opened #35 "Support for MET and METplus"
@BoiVuong-NOAA you mentioned this in your email, but I don't know the details. I know about MET and METplus (see https://github.com/NOAA-EMC/hpc-stack/issues/101).

What has to be done to the g2c library to support MET and METplus?

[2020-11-24 14:03] BoiVuong-NOAA commented on #35
Met v1.9.0 requires gc2 v1.6.2 to install in NWPROD

[2020-11-24 14:11] edwardhartnett commented on #35
OK, g2c-1.6.2 is about to be released as part of hpc-stack-1.1.0, and installed on our HPC systems. So it looks like we already have support for MET and METplus, which is good.

[2020-11-24 14:29] edwardhartnett opened #36 "Clean up README..."
Several things in the README need to be cleaned up, and we can reference the NOAA GRIB2 web site.

[2020-11-24 14:32] edwardhartnett commented on #36
The README says:

I can't find this file anywhere in the repo.

[2020-11-24 14:40] #36 closed, assigned to edwardhartnett

[2020-12-03 14:54] BoiVuong-NOAA commented on #35
Hi Ed,
Do I need to submit "code deliver form" for G2C v1.6.2 to NCO ?  Mallory is waiting the G2C library to compile with MET Plus.
Thanks,
Boi

[2020-12-03 15:13] edwardhartnett commented on #35
I don't know what a code deliver form is.

hpc-stack-1.1.0 has been installed on all the tier 1 machines, which includes g2c-1.6.2.

Does that answer your question?

[2020-12-03 15:33] BoiVuong-NOAA commented on #35
Hi Ed,
The "code deliver form" is a form to submit to NCO for code changes in operational (such as library, GFS models, NAM, etc.)  Then, NCO will checkout the code from GitHub repo and install it to nwtest for testing.  If the test is OK, NCO will schedule the date for implementation in operational (NWPROD).  All users (in NCEP or outside users) will be notified by the NCO RFC.
The "code deliver

[2020-12-03 15:35] kgerheiser commented on #35
It's for WCOSS Cray, right? @Hang-Lei-NOAA  just installed the updated NCEPLIBS at:

`module use /usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules`

`module load g2c/1.6.2`

It will be ready in a moment. There's a small problem with the modules that's being fixed.

[2020-12-03 15:43] BoiVuong-NOAA commented on #35
Kyle, I do not see it on DELL.
Met Plus needs it on both DELL and CRAY.   Will Hang install it on DELL (Venus and Mars) ?
Will it install in NWPROD  soon ?

[2020-12-03 15:55] kgerheiser commented on #35
On Dell, it's installed as part of hpc-stack. Is that sufficient?

[code]

I don't know about `nwprod`

[2020-12-03 16:01] BoiVuong-NOAA commented on #35
Met version 1.0.9 requires to install in NWPROD. Therefore, The hpc-stack needs to install in NWPROD.  NCO will not accept any libraries in DEV to be used in operational.   Do you know when the hpc-stack will be installed in NWPROD ?

[2020-12-03 16:03] kgerheiser commented on #35
hpc-stack won't be installed in NWPROD.

Is installing it in nwprod something we need to ask NCO to do?

[2020-12-03 16:06] BoiVuong-NOAA commented on #35
Then, We need to submit "code deliver form" to NCO to install it in nwprod ?  Can you submit the request to NCO ? Is hpc-stack ready for operational on WCOSS ?

[2020-12-03 16:08] kgerheiser commented on #35
hpc-stack won't be used operationally. It is for developers.

[2020-12-03 16:08] Hang-Lei-NOAA commented on #35
NCO do not have a plan to install our existing hpc-stack on nwprod.
Previously, the hpc-stack-nco with the NCO_V on is for NCO requirements.
They need to use their third party libs.

On Thu, Dec 3, 2020 at 11:03 AM Kyle Gerheiser <notifications@github.com>
wrote:

[2020-12-03 16:11] BoiVuong-NOAA commented on #35
I see. I will submit the g2c library v1.6.2 to NCO to install in nwprod.

[2020-12-04 14:56] kgerheiser opened #38 "Install to CMAKE_INSTALL_DIRs"
https://github.com/NOAA-EMC/NCEPLIBS/issues/36

[2020-12-04 15:25] #38 closed, assigned to kgerheiser

[2020-12-04 19:46] BoiVuong-NOAA opened #40 "building g2c with cmake"
Kyle, I try to build g2c library by using cmake as follow:
 cmake ..  -DCMAKE_INSTALL_PREFIX=myg2c  -DCMAKE_PREFIX_PATH="${PNG_LIBDIR};${PNG_INC};${JASPER_LIBDIR};${JASPER_INC}"
make
and
make install
Then, I  change to myg2c (where is my destination of g2c library)
It built the g2c library in three directories: lib64 and lib and include.  But, The lib directory has only cmake  file and the include

[2020-12-04 19:53] kgerheiser opened #41 "Config not installed at CMAKE_INSTALL_LIBDIR"
The library is installed there, but not the config.

[2020-12-04 19:53] kgerheiser commented on #40
See #41

[2020-12-04 19:58] #41 closed, assigned to nobody

[2020-12-04 20:05] BoiVuong-NOAA commented on #40
The grib2.h

[2020-12-04 20:07] kgerheiser commented on #40
What's the problem?

[2020-12-04 20:07] BoiVuong-NOAA commented on #40
It works. The grib2.h has not change the G2_VERSION "g2clib-1.6.0".
Should we have the other *.h file in include directory ?

[2020-12-04 20:09] BoiVuong-NOAA commented on #40
Just a question !  Why do we name the directory lib64 instead of lib ?  I think we should call it as lib to make it consistent with the others libraries.

[2020-12-04 20:11] kgerheiser commented on #40
It depends on the platform. It installs at `lib64` if that's the standard for that OS. On other systems it will install at `lib`.

CMake chooses the correct one by using `CMAKE_INSTALL_LIBDIR` instead of hardcoding it.

[2020-12-04 20:21] BoiVuong-NOAA commented on #40
Ed, Do you have any suggestions in these directories: include and lib or lib64 ?
in include directory:
We should have the following files *.h
drstemplates.h  grib2.h  gridtemplates.h  pdstemplates.h

Is it lib or lib64 ?
If we name directory lib64 all existing module on WCOSS, will not work with cmake build ?

[2020-12-04 20:30] kgerheiser commented on #40
For what you're doing, you should use a tag (v1.6.2) instead of directly using the develop branch. Then, we can sort out any issues.

[2020-12-04 20:32] BoiVuong-NOAA commented on #40
If I am using the tag (v1.6.2), I am unable to make changes (such as a unit_test,...)

[2020-12-04 20:34] kgerheiser commented on #40
If you're making a change locally to make some tests, why does it matter if it's at `lib64` or `lib` then?

I thought this was for the NCO delivery thing you're doing?

[2020-12-04 20:37] BoiVuong-NOAA commented on #40
You are correct.

[2020-12-04 20:40] kgerheiser commented on #40
This is what prompted the change:

https://github.com/NOAA-EMC/NCEPLIBS/issues/36

[2020-12-04 20:46] BoiVuong-NOAA commented on #40
Got it.

[2020-12-04 20:46] #40 closed, assigned to nobody

[2020-12-04 20:58] kgerheiser commented on #40
Also, I'm pretty sure the only place you'll see this behavior is WCOSS Cray. All the other machines will install at `lib`.

[2020-12-04 21:00] BoiVuong-NOAA commented on #40
Yes, I do see it.   on Cray:  /gpfs/hps/nco/ops/nwprod/lib

[2020-12-04 21:15] kgerheiser commented on #40
I mean if you do `make install` with this library it will end up at `lib` instead of `lib64` on all NOAA HPC machines except WCOSS Cray and maybe certain Linux distros.

[2020-12-04 21:21] BoiVuong-NOAA commented on #40
When I do make and make install, I see it has include and lib64

cmake ..  -DCMAKE_INSTALL_PREFIX=myg2c

[2020-12-04 21:22] kgerheiser commented on #40
Yes, on WCOSS Cray it's `lib64`. If you do that same thing most other places it will be `lib`

[2020-12-04 21:24] BoiVuong-NOAA commented on #40
I see.  I have not tried on CRAY yet.  I tried it on DELL and see library was in lib64 instead of lib.  Why ?

[2020-12-04 21:26] climbfuji commented on #40
Because the operating system says that the standard name of the library directory is "lib64". Different OS have different names, either "lib" or "lib64". This is the same for hdf5, netcdf, ...

[2020-12-04 21:26] kgerheiser commented on #40
Ah, I guess it's like that there too. It depends on the OS.

Most of our builds use CMake, which doesn't care about `lib` or `lib64`. It knows how to search for both of them.

[2020-12-04 21:28] BoiVuong-NOAA commented on #40
Thanks, Kyle.   Let me know if you have any news

[2021-02-05 17:44] BoiVuong-NOAA opened #43 "G2C library support MET for large file size > 2GB"
Met failed to open file larger than > 2GB such as FV3 LAM file that has 4.5GB

[2021-02-08 20:58] kgerheiser commented on #43
@BoiVuong-NOAA is this related to #28?

[2021-02-08 21:03] BoiVuong-NOAA commented on #43
No, It is not.  The g2c will use int long for variables

[2021-02-08 21:05] kgerheiser commented on #43
Do you have a pull request coming with the fix?

[2021-02-08 21:09] BoiVuong-NOAA commented on #43
No, I do not have a PR yet.  I have it in the branch g2c_ver1.6.3  Do you want a PR now ?

[2021-02-08 21:33] kgerheiser commented on #43
Yes, you should put that fix into develop. Generally, releases should be tagged off of the main branch.

[2021-02-08 21:37] BoiVuong-NOAA commented on #43
I will have a PR for the fix. I also have a unit_test too.  Can you help me generate a cmake for unit_test ?

[2021-02-08 22:04] BoiVuong-NOAA commented on #43
Kyle, I created PR for g2c

[2021-02-08 22:05] kgerheiser commented on #43
I don't see it
https://github.com/NOAA-EMC/NCEPLIBS-g2c/pulls

[2021-02-08 22:16] BoiVuong-NOAA commented on #43
Can you check again ?

[2021-04-20 16:22] edwardhartnett opened #46 "Check for jasper version"
Check for jasper version

[2021-07-11 14:30] edwardhartnett opened #47 "Change C++ comments to C comments..."
Let's decide what language we are using, and stick to it.

As it says in the README:

Well that is just silly. C has comments, no need to try and make it into C++.

[2021-07-11 14:32] edwardhartnett opened #48 "File Alias.c is unused and can be removed"
File Alias.c is unused and can be removed.

[2021-07-11 14:35] edwardhartnett opened #49 "Update Doxyfile"
As described here:
https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/81

[2021-07-11 14:37] edwardhartnett opened #50 "Turn on ENABLE_DOCS in CI build"
Turn on ENABLE_DOCS in CI build.

[2021-07-11 14:44] edwardhartnett opened #52 "Fix code warnings"
[code]

[2021-07-11 14:46] edwardhartnett opened #53 "Determine what applications use the g2c library, and whether all the code the is necessary"
Determine what applications use the g2c library, and whether all the code the is necessary.

What apps use g2c?

[2021-07-11 14:49] edwardhartnett opened #54 "Clean up doxygen documentation"
The documentation seems to be mostly missing for this repo. Needs a lot of work!

[2021-07-11 15:08] edwardhartnett opened #55 "Update authors in README"
The readme says:
[code]
Yet when I look in the code, most of it seems to be written by "Gilbert".

Who is Gilbert and why are we not crediting him or her with authorship?

[2021-07-11 15:09] edwardhartnett opened #56 "Remove LICENSE.md"
We have all the licensing we need in the README. No need for any more...

[2021-07-11 21:13] edwardhartnett opened #58 "whitespace cleanup"
A whitespace cleanup will help with converting comments to C style...

[2021-07-12 09:09] edwardhartnett opened #65 "Add test coverage to CI"
Add test coverage to CI, after #63 is merged.

[2021-07-13 04:51] #49 closed, assigned to edwardhartnett

[2021-07-13 04:51] #50 closed, assigned to edwardhartnett

[2021-07-13 14:22] edwardhartnett commented on #55
@BoiVuong-NOAA and @Hang-Lei-NOAA do you know the answer to this question?

[2021-07-13 14:34] BoiVuong-NOAA commented on #55
I do not know how to answer your ? Yes, Gilbert was developer for G2 and G2C.    When We moved all codes to github and Mark assigned code manager to me and Hang

[2021-07-13 14:37] edwardhartnett opened #69 "Add macOS testing to CI"
Add macOS testing to CI

[2021-07-13 14:38] edwardhartnett opened #70 "Add intel compiler testing to CI"
Add intel compiler testing to CI.

[2021-07-13 14:38] edwardhartnett commented on #55
OK, the author is different from the code manager. Do you know Gilbert's first name?

[2021-07-13 14:42] BoiVuong-NOAA commented on #55
His first name is Stephen.

On 7/13/2021 10:38 AM, Edward Hartnett wrote:

[2021-07-13 15:00] DusanJovic-NOAA commented on #47
The "`//`" are not C++ style comments. They are valid C comments.

[2021-07-13 15:02] DusanJovic-NOAA commented on #47
https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/31

[2021-07-13 15:53] edwardhartnett commented on #47
They are valid C comments in C99, but plenty of people don't use c99 version compilers. This comes up frequently with netcdf-c and PIO support issues. It's easier to use traditional C comments than deal with support issues.

Is there some problem with traditional C comments?

[2021-07-13 16:04] #65 closed, assigned to kgerheiser

[2021-07-13 16:04] #69 closed, assigned to kgerheiser

[2021-07-13 16:04] #70 closed, assigned to kgerheiser

[2021-07-14 07:55] edwardhartnett opened #73 "Remove unneeded and cryptic "ORG: W/NP11" as part of author tags"
We have author tags like this:

`@author Gilbert ORG: W/NP11`

What does ORG: W/NP11 mean? Does that convey anything long-time NOAAites? It means nothing to me...

[2021-07-14 12:01] Hang-Lei-NOAA commented on #73
I am not sure what is W/NP11. From ORG, it looks like the organization.

[2021-07-14 19:48] edwardhartnett commented on #73
OK, since we have no idea what it means, let's remove it everywhere.

[2021-07-14 19:50] Hang-Lei-NOAA commented on #73
Okay, I will open a ticket to remove these already in g2, after the
existing pull request

On Wed, Jul 14, 2021 at 3:49 PM Edward Hartnett ***@***.***>
wrote:

[2021-07-14 21:59] edwardhartnett commented on #56
I'll discuss with Arun what is needed here. Until then I'll close this issue.

[2021-07-14 21:59] #56 closed, assigned to edwardhartnett

[2021-07-14 22:11] #55 closed, assigned to edwardhartnett, Hang-Lei-NOAA, BoiVuong-NOAA

[2021-07-14 22:31] #16 closed, assigned to nobody

[2021-07-14 22:31] #48 closed, assigned to edwardhartnett

[2021-07-19 16:53] #58 closed, assigned to edwardhartnett

[2021-07-19 17:14] kgerheiser opened #88 "Add "--output-on-failure" to ctest in Action"

[2021-07-19 17:28] #88 closed, assigned to kgerheiser

[2021-07-22 05:58] edwardhartnett commented on #29
OK, turns out that this macro, G2_VERSION, is not used anywhere in the code. So can it be removed? Or is it used by other codes?

[2021-07-22 07:31] edwardhartnett opened #103 "multiple defines involving g2int type"
In grib2.h we have:

[code]

Then, in reduce.c we have:

[code]
In fact, we define this in multiple places:

[code]

[2021-07-22 11:52] Hang-Lei-NOAA commented on #29
I believe it is okay to be removed. I did not see where to use it.

On Thu, Jul 22, 2021 at 1:58 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-23 00:44] edwardhartnett commented on #53
@Hang-Lei-NOAA and @DusanJovic-NOAA do you know what applications used the g2c library?

[2021-07-23 00:54] edwardhartnett opened #112 "Always build with PNG library?"
We have this option in CMakeLists.txt:

`option(USE_PNG      "Use PNG library"      ON)
`
Is there ever a reason to build without the PNG library? I believe it is available everywhere.

Extra options mean extra code to handle them, and extra testing needed. Currently we are not testing for non-PNG builds. Can we just always require PNG?

[2021-07-23 12:11] DusanJovic-NOAA commented on #53
I don't know.

[2021-07-23 14:05] Hang-Lei-NOAA commented on #53
In EMC the wgrib2 lib use it.
This was a g2 lib in C language, which is used by pure C modules.

On Fri, Jul 23, 2021 at 8:11 AM Dusan Jovic ***@***.***>
wrote:

[2021-07-23 17:02] #73 closed, assigned to Hang-Lei-NOAA

[2021-07-23 17:13] edwardhartnett opened #113 "Add CI testing with OpenJPEG"
Add CI testing with OpenJPEG

[2021-07-25 13:59] DusanJovic-NOAA commented on #112
We (NCEP/EMC) by default always enable PNG (and JPEG)  compression. But it should be optional, so that users can turn it OFF if they do not need it.

[2021-07-25 14:04] DusanJovic-NOAA opened #114 "Version 1.6.2 release notes are wrong."
https://github.com/NOAA-EMC/NCEPLIBS-g2c/releases/tag/v1.6.2

_We are pleased to announce the version 1.6.2 release of NCEPLIBS-g2 library._ - Incorrect. Library is g2c, not g2.

_The NCEPLIBS-g2 library contains Fortran 90 decoder/encoder routines for GRIB edition 2, as well as indexing/searching utility routines._  - Also incorrect. The library contains C decoder/encode routines, not Fortran and

[2021-07-25 14:57] edwardhartnett commented on #114
Thanks for pointing this out. I have corrected the 1.6.2 release notes, and also the draft notes for the 1.6.3 release.

[2021-07-25 14:57] #114 closed, assigned to edwardhartnett

[2021-07-25 14:59] edwardhartnett commented on #112
Do you know of any outside users?

As I mention, more options means more testing, which currently we are not doing. Therefore, it is not free. Unless there is a strong reason to make the PNG library optional, we will make it mandatory. If we know of any internal users who have a need to build without PNG, that would be a strong reason to keep the option. If we know of some external users who need

[2021-07-25 15:11] DusanJovic-NOAA commented on #112
I often build g2c without any external dependency if I know I do not need PNG or JPEG compression. We need to preserve that capability. Testing should detect which build options are enabled/disabled and run or not run corresponding tests.

[2021-07-25 15:14] DusanJovic-NOAA commented on #114
There are no "indexing/searching utility routines" in this library.

[2021-07-25 15:39] DusanJovic-NOAA commented on #114
Version 1.6.3 has already been released by NCO. Use some other version number to avoid confusion between NCEPLIBS-g2c and g2clib.

[2021-07-25 15:56] edwardhartnett commented on #114
How did NCO release a version of this library without us? ;-)

[2021-07-25 15:59] edwardhartnett commented on #112
Very well.

[2021-07-25 16:01] DusanJovic-NOAA commented on #114
They maintain NCEPs official release of g2c library, named g2clib.

[2021-07-25 16:06] edwardhartnett commented on #114
Are you referring to this: https://github.com/weathersource/g2clib?

I don't see any 1.6.3 tag or release on this library either.

Which library is used by the UFS? Do you know why we have two versions of this code?

[2021-07-25 16:18] DusanJovic-NOAA commented on #114
No. I'm referring to official NCO page https://www.nco.ncep.noaa.gov/pmb/codes/GRIB2/
I have no idea what weathersource is, looks like some private company. They just took the code from NCO and created their own repository.
UFS uses g2 library.

[2021-07-26 12:04] edwardhartnett opened #115 "Skip the 1.6.3 release - next release should be 1.6.4"
The NCO has done a 1.6.3 release of g2clib. To avoid confusion, we will call the next release 1.6.4.

[2021-07-26 12:09] BoiVuong-NOAA commented on #53
The g2c library uses in MET, GrADS, WGRIB2  and some users (out side of
NCEP).

On 7/23/2021 10:05 AM, Hang-Lei-NOAA wrote:

[2021-07-26 12:13] edwardhartnett commented on #53
@BoiVuong-NOAA thanks - I believe GrADS has some unit testing - perhaps we can use that to test g2c until we get g2c unit testing in place. I will investigate.

[2021-07-26 14:49] DusanJovic-NOAA commented on #53
We should find out whether NCO will use this repo's release next time they post the release tar file on their web page. If they are, then I suggest we rename this repo to just g2clib, Since most users are outside users it makes more sense to not have NCEPLIBS- prefix. NCEPLIBS is irrelevant to them. Most outside users refer to this library as just 'g2clib'.

[2021-07-26 21:48] Hang-Lei-NOAA commented on #115
There was a release of v1.6.3 of g2c. I don't know why it is gone. NCO is asking about it, since it addressed some issues inv1.6.2.  NCO has done the work based on v1.6.3.
We need to solve this issue immediately.

[2021-07-26 21:57] kgerheiser commented on #115
There's no history of a version 1.6.3. There's no `v1.6.3` tag, and the `VERSION` file was never updated. Do you know when it was made or what commit it points to? There's not much of a history in this repo aside from the past two weeks.

[2021-07-26 22:00] Hang-Lei-NOAA commented on #115
Okay, I will check with NCO and post here or email you. Thanks,

[2021-07-27 05:17] edwardhartnett commented on #115
We already checked with NCO and this release was actually done by us. ;-)

So we will do a 1.6.4 release when the documentation is complete (very soon), and we will move on. In future, all releases will be done via GitHub releases, no longer via branches or tags.

[2021-07-27 06:39] edwardhartnett opened #117 "Add document "GRIB2 conversion and its usage at NCEP""
I found this slideshow on the interwebs. We can add it to the docs section and reference it in the README.

GRIB2 conversion and
its usage at NCEP
Dr. V. KRISHNA KUMAR &
STEPHEN A GILBERT

[2021-07-28 13:25] #117 closed, assigned to edwardhartnett

[2021-07-29 16:07] edwardhartnett opened #120 "Should we prohibit using OpenJPEG=On and USE_Jasper=On in cmake build?"
We have this in CMakeLists.txt:

[code]

When using Jasper, USE_JPEG2000 is defined. When using OpenJPEG, USE_OPENJPEG is defined.

In the file src/decenc_openjpeg.c we have this:

`#if !defined USE_JPEG2000 && defined USE_OPENJPEG
`

This seems to imply that either USE_JPEG2000 or USE_OPENJPEG should be define, but not both. Is that correct?

Because CMake allows us to turn on both...

[2021-07-29 16:12] kgerheiser commented on #120
Yes, they both declare routines with the same name. It should be one or the other.

[2021-07-29 16:14] edwardhartnett commented on #120
And yet the build does work with both on! OK, I will change the CMakeLists.txt file to only allow one or the other of these.

[2021-07-29 16:18] BoiVuong-NOAA commented on #120
Please assign this task to nceplibs team.  I am in the VPPPGB branch and having some priority tasks for NCEP operational.

[2021-07-29 16:29] edwardhartnett commented on #120
@BoiVuong-NOAA and @DusanJovic-NOAA I only assigned you guys to help answer the question. The work will be done by the NCEPLIBS team.

[2021-07-29 16:37] BoiVuong-NOAA commented on #120
I see.  I think Dusan added that routine for USE_JPEG2000 or USE_OPENJPEG.

[2021-07-29 16:38] Hang-Lei-NOAA commented on #120
USE_JPEG2000 should be the default

[2021-07-29 18:13] edwardhartnett commented on #115
@BoiVuong-NOAA what changes were in the 1.6.3 release? Are there issues for them?

Are you sure that those changes were brought back to the develop branch?

[2021-07-29 18:29] BoiVuong-NOAA commented on #115
I requested a PR but i could not merge it back to the develop branch. I have asked Kyle for help.  Would you check with Kyle ?

[2021-07-29 18:31] edwardhartnett commented on #115
What code files did you change in your branch?

[2021-07-29 18:32] BoiVuong-NOAA commented on #115
I changed the grib2.h and cmakelist.txt

[2021-07-29 19:25] kgerheiser commented on #115
There's a couple of commits here: https://github.com/NOAA-EMC/NCEPLIBS-g2c/commits/g2c_ver1.6.3. Looks pretty easy to merge.

[2021-07-29 19:34] BoiVuong-NOAA commented on #115
Would you help me to merge it to the develop branch ? Thanks.  I recalled that I could not merge to the develop branch because of permissions.

[2021-07-29 21:14] edwardhartnett commented on #115
I will do the merge. I'll take a look tomorrow...

[2021-07-29 21:14] #54 closed, assigned to edwardhartnett

[2021-07-29 21:25] kgerheiser commented on #115
The code changes are easy to merge with removing `__64bit__`, but there's also a unit test with Make and Bash (to run on WCOSS) that needs to be made generic.

[2021-07-31 15:04] DusanJovic-NOAA commented on #29
Please do not remove `G2_VERSION`. It's used by applications to identify the library version. In fact I think it should be changed to only contain the version number, without 'g2clib-' prefix. Similar to how other libraries provide version number in their header files:
zlib: `#define ZLIB_VERSION "1.2.11"`
jasper: `#define	JAS_VERSION "2.0.25"`
libpng: `#define PNG_LIBPNG_VER_STRING "1.6.37"`
netc

[2021-08-02 14:12] edwardhartnett commented on #29
@DusanJovic-NOAA I came to the same conclusion - it should not be removed.

I will change it as you suggest.

[2021-08-04 15:19] edwardhartnett commented on #115
OK, I dropped this one due to the AGU deadline... I will take a look at this next.

[2021-08-05 15:01] edwardhartnett commented on #35
I believe this issue can be closed. Please let me know if I'm wrong...

[2021-08-05 15:01] #35 closed, assigned to BoiVuong-NOAA

[2021-08-05 15:02] edwardhartnett commented on #34
Bumping this to the next release...

[2021-08-05 15:03] edwardhartnett commented on #47
This is partially complete, will be finished in the next release.

[2021-08-05 15:03] edwardhartnett commented on #8
We have started to add unit tests. More will be added in the next release...

[2021-08-05 15:03] BoiVuong-NOAA commented on #35
Yes, The MET has been using the g2c v1.6.3 on WCOSS and worked fine,

[2021-08-05 15:05] edwardhartnett commented on #113
I added OpenJPEG to CI testing. More testing to come...

[2021-08-05 15:05] #113 closed, assigned to edwardhartnett

[2021-08-05 15:05] BoiVuong-NOAA commented on #34
Hang is working on the g2 this version and it does not solve the issue (>2GB) file.

[2021-08-05 15:06] #30 closed, assigned to nobody

[2021-08-06 14:33] DusanJovic-NOAA opened #123 "g2int/g2uint typedef"
The type of `g2int` (and `g2uint`) was changed recently to `long` (and `unsigned long`) to support files larger than 2Gb.

The problem is size of `long` is not guaranteed to be different than `int`. For example on Windows both `int` and `long` are 4 bytes.

The only portable way of defining integer type to have fixed size is to use standard fixed width integer types. For example see #28 (in that P

[2021-08-18 17:37] edwardhartnett opened #126 "Add support for multiple versions of the documentation on gh-pages branch"
We need to host a version of the documentation for each release.

[2021-08-18 19:44] GeorgeVandenberghe-NOAA opened #127 "g2c build on jet and hera fails in a test compile"
40%] Building C object CMakeFiles/g2c.dir/src/g2_unpack3.c.o
[ 42%] Building C object CMakeFiles/g2c.dir/src/g2_unpack4.c.o
[ 44%] Building C object CMakeFiles/g2c.dir/src/g2_unpack5.c.o
[ 46%] Building C object CMakeFiles/g2c.dir/src/g2_unpack6.c.o
[ 48%] Building C object CMakeFiles/g2c.dir/src/g2_unpack7.c.o
[ 50%] Building C object CMakeFiles/g2c.dir/src/gbits.c.o
[ 51%] Building C object CMak

[2021-08-18 19:59] edwardhartnett commented on #127
Can you try changing the code to this, and see if it gets past that error:

[code]

This could also be fixed with a compiler flag that turns on C99 features. What compiler are you using?

On the PIO and netCDF projects, I simply avoid this kind of construction in tests. I can do the same for tst_decode.c.

[2021-08-18 20:26] GeorgeVandenberghe-NOAA commented on #127
Thanks.  THis worked and the tests compiled on jet and hera.

Surprising I should be the first to stumble across this.

[2021-08-18 20:28] GeorgeVandenberghe-NOAA commented on #127
I am using the icc compiler
/apps/intel/parallel_studio_xe_2019.5.075/compilers_and_libraries_2019/linux/bin/intel64/icc  -I/home/George.Vandenberghe/gh/hpcstack/h0816/pkg/g2c-v1.6.4/src -g -traceback -fPIC -w -O3 -MD -MT tests/CMakeFiles/tst_decode.dir/tst_decode.c.o -MF CMakeFiles/tst_decode.dir/tst_decode.c.o.d -o CMakeFiles/tst_decode.dir/tst_decode.c.o -c /home/George.Vandenberghe/gh/hpcstack

[2021-08-18 20:41] edwardhartnett commented on #127
Not really surprising, that's a brand new test. ;-)

But should I do another release with the fix?

[2021-08-18 20:48] GeorgeVandenberghe-NOAA commented on #127
Since the release is broken I would be inclined to fix it and keep the
release number and tag.  We aren't changing anything except repairing a
crippling bug that breaks the release

On Wed, Aug 18, 2021 at 4:41 PM Edward Hartnett ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(wor

[2021-08-18 21:05] GeorgeVandenberghe-NOAA commented on #127
Where did this work?   It's a hard failure with icc18.x and 19.x
Your fix which looks like a much cleaner syntax anyway, fixes the failure.
The old code did multiple declarations in the same scoping unit (???????!)

On Wed, Aug 18, 2021 at 4:41 PM Edward Hartnett ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20

[2021-08-19 17:31] climbfuji commented on #127
I have the same problem on Cheyenne (Intel 2021.2). Since it's part of hpc-stack v1.2.0, it stops the deployment of hpc-stack v1.2.0 on the tier-1 platforms. @edwardhartnett @kgerheiser

[2021-08-20 06:47] edwardhartnett commented on #127
@kgerheiser how come our intel compiler CI tests worked fine, but when they tried to build on intel compilers elsewhere, it failed?

[2021-08-20 13:11] kgerheiser commented on #127
I'm not sure why the Intel compiler in our CI allows it. It's Intel ICC 2021.3. Can't find anything in the documentation or release notes.

[2021-08-20 13:17] kgerheiser commented on #127
@edwardhartnett thoughts on re-tagging this release? It would be simple if we could use the same version. There's only been two (non-code) commits since.

[2021-08-20 13:27] GeorgeVandenberghe-NOAA commented on #127
My opinion is to use the same release and just fix it

On Fri, Aug 20, 2021 at 9:17 AM Kyle Gerheiser ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-08-20 13:44] kgerheiser commented on #127
I went ahead and re-made the release.

[2021-08-20 13:44] #127 closed, assigned to nobody

[2021-08-20 14:12] kgerheiser opened #129 "Turn on C99 features in compile"
In #127 the g2c build failed on our HPC systems when declaring a loop variable in the `for` which is a C99 feature.

However, it passed all of our CI using Intel OneAPI icc 2021.3.

Or should we enable C99?

[2021-08-20 14:24] GeorgeVandenberghe-NOAA commented on #129
Is C99 obsolete, or an evolving future?   To me  typing within an execution block, perhaps multiple times, is bad practice but I am an old curmudgeonly fortran programmer so ?? ?? ??

[2021-08-20 14:37] kgerheiser commented on #129
C99 is a frozen standard from 1999 (like Fortran 90, 2003, etc). It has widespread support going back quite a ways.

[2021-08-20 14:49] kgerheiser commented on #129
Tried adding `-std=C90` to the Intel build, but it fails for many other reasons. So, we already use some C99 features already, such as `//` style comments.

[2021-08-20 14:52] GeorgeVandenberghe-NOAA commented on #129
What is the latest widely accepted C and C++ standard (analagous to fortran
2008 which is the
most recent one supported by most compiler vendors..  that isn't new
either. Fortran 77 didn't
become ubiquitous until the late 80s )?

On Fri, Aug 20, 2021 at 10:37 AM Kyle Gerheiser ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

Colle

[2021-08-20 15:15] kgerheiser commented on #129
I would say C99. It is pretty universally supported across the major compilers (GCC, Clang, MSVC, Intel, PGI). There's C11 and C17, but they offer pretty niche features.

https://en.wikipedia.org/wiki/C99#Implementations

`//` comments are a C99 feature which we already use in this code, so we can't say our code is C90 compliant.

[2021-08-20 15:20] GeorgeVandenberghe-NOAA commented on #129
So fix the code to comply to the latest widely accepted standard rather
than trying to force the older standard, seems to be the way to go.

On Fri, Aug 20, 2021 at 11:15 AM Kyle Gerheiser ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-08-20 15:23] kgerheiser commented on #129
It's curious that this issue exists on even the latest compilers on our HPC systems (I tried Intel 2021 on Orion), but not with the Intel OneAPI `icc` in the CI. I can't find a way to reproduce the error without breaking other things.

[2021-08-20 18:10] edwardhartnett commented on #129
From my netCDF and PIO experience, I just avoid C99 features in code that I want to be portable.

So I don't use // comments in C, and I don't use for (int i; ...

Those are really the only two things to worry about. There is some way to make gnu compilers complain about this, IIRC, and we should figure it out and turn it on everywhere. It's really not hard to avoid these two C99 landmines.

[2021-08-20 18:11] edwardhartnett commented on #127
Awesome, I had reached the same conclusion and was just about to do that...

[2021-08-20 18:40] GeorgeVandenberghe-NOAA commented on #127
The g2c repository tests were corrected and committed this morning.  g2c
builds cleanly on jet and hera and should build cleanly elsewhere.

On Thu, Aug 19, 2021 at 1:32 PM Dom Heinzeller ***@***.***>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2141

College Park, MD 20740

***@***.***

301-683-3769(work)  3017751547(cell)

[2021-08-23 13:16] kgerheiser commented on #129
Ok, we should make the code C90 compatible. There's a couple of instances of `//`.

[2021-08-23 17:33] edwardhartnett commented on #129
IIRC there is a GNU flag we can set, something like std=noc99

[2021-08-23 21:27] kgerheiser commented on #129
There are some unfixable errors when setting `-std=c90`. Jasper's `#include` have some declarations that require C99.

I found this CMake flag to require a particular C standard: `set_property(TARGET g2c PROPERTY C_STANDARD 99)`.

It automatically adds `-std=C99` (or the equivalent for your compiler). It would have prevented the bug found by setting that flag for Intel.

[2021-09-28 14:24] #31 closed, assigned to nobody

[2021-09-28 14:24] #53 closed, assigned to edwardhartnett, Hang-Lei-NOAA, DusanJovic-NOAA, BoiVuong-NOAA

[2021-10-19 12:19] edwardhartnett opened #131 "Check for memory leaks in GNU CI build with address santizer"
Check for memory leaks in GNU CI build with address santizer

[2021-10-19 12:27] edwardhartnett opened #133 "Impose consistent indentation and do whitespace cleanup"
In emacs I did this on each file:

1. Open file and select whole file as region.
2. M-x indent-region
3. M-x untabify
4. M-x delete-trailing-whitespace

[2021-10-19 12:34] #131 closed, assigned to edwardhartnett

[2021-10-19 12:37] edwardhartnett commented on #129
OK, let's try putting that CMake flag in the build and see how it does...

I'll do it now.

[2021-10-19 12:41] edwardhartnett opened #135 "Lots of commented-out code in src/reduce.c"
Let's commit.

We either include code, in which case it's fully documented and tested. Or we don't have code, in which case it is gone.

The repository stores all history, so nothing is ever really lost. No reason to carry around dead code!

[2021-10-19 12:56] edwardhartnett commented on #47
Instead we will try to turn on c99 in compiles... (see #129).

[2021-10-19 12:56] #47 closed, assigned to edwardhartnett

[2021-10-19 13:33] #123 closed, assigned to nobody

[2021-10-19 13:45] #133 closed, assigned to edwardhartnett

[2021-10-19 13:53] #129 closed, assigned to nobody

[2021-10-19 13:57] edwardhartnett commented on #135
OK, this turns out to be fairly horrifying: this C code was created by some automatic Fortran to C translator, and all the comment lines with code are actually the old fortran code.

I am going to close this issue and try to pretend I don't know about this...

[2021-10-19 13:57] #135 closed, assigned to edwardhartnett

[2021-10-19 14:03] edwardhartnett opened #138 "Make OpenJPEG the default, instead of Jasper?"
@Hang-Lei-NOAA suggests, in #120, that OpenJPEG be the default choice as the JPEG library.

Hang, why do you think this?

Anyone else have any thoughts on this? Are we trying to move away from Jasper?

[2021-10-19 14:07] Hang-Lei-NOAA commented on #138
I don't think that it is necessary any more.
The background is that Jasper was told of "no further development/support".
But now, the jasper is continuously developing forward.
We now have jasper/2.0.25 solves everything.

On Tue, Oct 19, 2021 at 10:03 AM Edward Hartnett ***@***.***>
wrote:

[2021-10-19 14:10] edwardhartnett commented on #115
OK, 1.6.4 has been released. I will close this issue.

[2021-10-19 14:10] #115 closed, assigned to edwardhartnett

[2021-10-19 14:11] edwardhartnett commented on #46
What version should we be requiring? @kgerheiser do you know?

[2021-10-19 14:12] BrianCurtis-NOAA commented on #138
They're both open source, and both seem to have active development as of late. There seems to be only one person committing to jasper, while there's a couple/few people committing to OpenJPEG. I don't see why we can't stay the course for now. If the Jasper developer gets burnt out again, we may need to bring this up again then.

[2021-10-19 14:34] #120 closed, assigned to edwardhartnett, Hang-Lei-NOAA, DusanJovic-NOAA, BoiVuong-NOAA

[2021-10-19 14:39] kgerheiser commented on #46
There might be some version of Jasper that doesn't work, but I'm not sure. Besides that issue with Intel compilers I've built things with Jasper 1.900.1 (really old) and recent 2.x.x releases as well.

[2021-10-19 14:43] edwardhartnett opened #141 "Change string in G2_VERSION from "g2clib-1.6.4" to "1.6.4"?"
@DusanJovic-NOAA has suggested this change (in #29). He makes a good case that most libraries would not include the library name in the version string. (And also, the name is confusing, it should be "NCEPLIBS-g2c" or nothing.)

If we do this, we must do the same for the NCEPLIBS-g2 library, which has a similar version string in src/gribmod.f90.

Any objections?

[2021-10-19 15:16] edwardhartnett commented on #46
What is the version that resolved the intel compiler issue? 25? We can use that one...

[2021-10-19 15:29] kgerheiser commented on #46
Yes, 2.0.25

[2021-10-19 19:15] edwardhartnett commented on #138
OK, we will continue with Jasper as the default.

[2021-10-19 19:15] #138 closed, assigned to kgerheiser, edwardhartnett, Hang-Lei-NOAA, DusanJovic-NOAA, BrianCurtis-NOAA

[2021-10-19 19:28] #46 closed, assigned to kgerheiser

[2021-10-20 21:15] #29 closed, assigned to BoiVuong-NOAA

[2021-10-22 14:46] edwardhartnett opened #145 "More doxygen improvements"
The main landing page needs detail, and as with the NCEPLIBS-g2 library, hyper-links to the WMO docs would be useful.

[2021-10-24 12:36] edwardhartnett opened #148 "Replace sbit() and gbit() function calls with memcpy() calls..."
We have functions sbit() and gbit(). These functions are just rewrites of the memcpy() function.

The sbit()/gbit() functions call sbits()/gbits() which have the capability of handling copies that do not occur on byte boundaries. I don't know that there is any easier way to do that in C...

[2021-10-24 12:39] edwardhartnett opened #149 "Change nbytes parameter name to nbits in sbit/gbit/sbits/gbits"
We have four functions sbit/gbit/sbits/gbits. They each have this parameter:

` * @param nbyte number of bits to take.
`

Worst name for a parameter ever.

[2021-10-24 12:40] edwardhartnett commented on #148
Actually I'm not sure this is correct. I will study these functions further...

[2021-10-24 12:40] #148 closed, assigned to edwardhartnett

[2021-10-24 15:16] edwardhartnett opened #150 "Grid templates that don't work: Variable Resolution Latitude/Longitude and Variable Resolution Rotate Latitude/Longitude"
In gridtemplates.c we have function:

gtemplate *
extgridtemplate(g2int number, g2int *list)

It gets grid templates that need extensions. I contains this code. Note that for number == 4 or 5, two mallocs are done and the result assigned to the same pointer. This will cause the memory malloced the first time to be lost without being freed.

@BoiVuong-NOAA do you know what is going on for numbers 4

[2021-10-25 11:53] edwardhartnett opened #151 "code coverage report is not working..."
code coverage report is not working...

[2021-10-25 13:04] edwardhartnett commented on #151
Actually, it is, but not the way I expect.

I expect to see a button on the upper right of the CI output page. But it's not there. However, if I go to the actions tab, the code coverage report is available. Oh well, I can live with that...

[2021-10-25 13:06] edwardhartnett opened #152 "In drstemplates.c we have extdrstemplate() which handles template 1, but there is no template 1"
We have this code:

[code]

However, in drstemplates.h, there is no template number 1:

[code]

@BoiVuong-NOAA do you know why we have code to deal with DRS template 1, but we have no template 1?

[2021-10-25 13:14] BoiVuong-NOAA commented on #152
No, I do not know either. These code written by developer and I did not get any explanations.

[2021-10-25 13:24] edwardhartnett commented on #152
I have sent an email to the original code author...

[2021-10-25 13:41] edwardhartnett opened #154 "update gh-pages branch with latest documentation fixes..."
We have a lot of documentation improvements. We can put them out there...

[2021-10-25 20:13] edwardhartnett opened #155 "extra entries in drstemplates don't appear in WMO docs..."
In drstemplates.h we have:

[code]

5.40 and 5.41 are what the WMO docs call JPEG and PNG. They make no mention of 5.40000 and 5.40010. (See https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table5-0.shtml).

So what's going on with 5.40000 and 5.40010? Where did these come from and what are they for? Are they duplicates that can be removed?

@BoiVuong-NOAA or @DusanJovic-NOAA do you kn

[2021-10-25 20:22] BoiVuong-NOAA commented on #155
No, I do not know the answer.  The 5.40000 and 5.40010 were in the code in 2007.

[2021-10-25 20:37] DusanJovic-NOAA commented on #155
I believe these those are local data representation template number. Probably used at NCEP before WMO standardized them.  Please check with NCO, maybe there are still some programs using them.

[2021-10-26 12:04] edwardhartnett opened #156 "calling g2_info() on an incomplete message causes memory error instead of returning error code"
When I call g2_info() on a message before calling g2_gribend() I get a memory error instead of a return code:

[code]

The code is written as if it expected to be able to return an error for this:

[code]

[2021-10-26 12:14] edwardhartnett opened #157 "Function prototypes in grib2.h repeated in g2_getfld.c, except it adds function g2_unpack2()"
In grib2.h we have (note that unpack2 is missing):

[code]
In g2_getfld.c we have:

[code]

[2021-10-27 11:11] edwardhartnett opened #159 "Meaningless line of code in g2_getfld.c"
Around line 185 we see:

[code]

Note the first two lines of code. The first can be removed.

[2021-10-27 11:34] edwardhartnett opened #160 "memory leak in g2_getfld() if errors occur reading message"
In g2_getfld() we have:

`    lgfld = malloc(sizeof(gribfield));
`
Later in the code:

[code]
and

[code]
and

[code]
and there are some other returns for error conditions. Note that they are not freeing the memory allocated in lgfld. There are (commented out) tests for this in tst_g2_addfield.c.

[2021-10-27 11:52] edwardhartnett opened #161 "Name the error codes"
Throughout the g2c code we have code like this:

[code]

Note the use of the bare constant 6. All error codes should get a defined name.

[2021-10-27 13:29] edwardhartnett opened #162 "memory leak in g2_unpack3() if undefined grid template number is used"
There's a test for this (commented out) in tst_unpack.c.

[2021-10-31 12:46] edwardhartnett opened #165 "dummy function in enc_png.c probably is not needed..."
In enc_png.c we have:

[code]

It's hard to imagine any scenario where this actually make sense. Probably this can be eliminated.

[2021-10-31 13:05] edwardhartnett opened #166 "signedness confusion with data parameter for enc_png()/dec_png()"
We have these two functions:

[code]

Note that the pngbuf is char pointer in enc_png(), but unsigned char pointer in dec_png(). Any reason it should be different?

[2021-10-31 13:35] edwardhartnett opened #167 "macos confusion about libpbg version"
When I added a test for PNG and it ran on the mac, I get this:

[code]

Turns out this is a known macos issue: https://stackoverflow.com/questions/36523911/osx-homebrew-cmake-libpng-version-mismatch-issue

[2021-10-31 13:39] edwardhartnett opened #168 "macos confusion about libpbg version"
When I added a test for PNG and it ran on the mac, I get this:

[code]

Turns out this is a known macos issue: https://stackoverflow.com/questions/36523911/osx-homebrew-cmake-libpng-version-mismatch-issue

[2021-10-31 13:54] edwardhartnett opened #169 "alog2 defined in multiple code files"
This constant should be defined as a pre-processor symbol in grib2.h.

[code]

[2021-10-31 14:06] edwardhartnett commented on #168
OK, this was fixed for macos by changing the CMakeLists.txt file to:

[code]

This was as described here: https://stackoverflow.com/questions/36523911/osx-homebrew-cmake-libpng-version-mismatch-issue

@kgerheiser @aerorahul did I do the right thing here?

Also, I presume that the g2 project would have the same problem with macOS and PNG, and we will discover it as we add tests to that project...

[2021-10-31 14:35] edwardhartnett opened #170 "In enc_jpeg2000/dec_jpeg2000 confusion about jasper version ifdefs"
We have this in the documentation:

[code]

We have defined this:

`#define JAS_1_700_2 /**< Define for JAS. */
`

But we still have code like this:

[code]

Since we have dropped support for the older version of jasper, let's make that clear in the docs and clean up our code.

Note also we require a later version in the cmake build: #143

[2021-11-01 11:25] edwardhartnett opened #171 "Are we using Jasper correctly?"
Looking in enc_jpeg2000.c I see this:

[code]

But jpc_encode() does not seem to be part of Jasper's documentation. Instead, it seems to want us to use jas_image_encode(). (See https://jasper-software.github.io/jasper-manual/releases/version-2.0.33/html/group__image.html#gafc4b2dc6f82b48d9c8e1284005dd45bf).

So what is the deal here? Are we using some secret internal Jasper API?

@DusanJovic-NOAA

[2021-11-01 12:55] DusanJovic-NOAA commented on #171
No, I did not add that code. But this function is not internal API, we would not be able to use it if it was. It is public function defined here:
https://github.com/jasper-software/jasper/blob/5175dcd845c385ac16c55a8de5c25e3d49bd075e/src/libjasper/include/jasper/jas_image.h#L805
Are there any issues with jpeg2000 encoding?

[2021-11-01 13:20] #167 closed, assigned to edwardhartnett

[2021-11-01 13:24] edwardhartnett commented on #152
From Stephen Gilbert:

[2021-11-01 13:57] edwardhartnett commented on #171
No issues, just trying to get it tested.

Thanks for the clarification...

[2021-11-01 13:57] #171 closed, assigned to edwardhartnett

[2021-11-01 14:15] #168 closed, assigned to edwardhartnett

[2021-11-01 16:15] edwardhartnett opened #172 "Multiple places where "G", "R", "I", and "B" are defined as constants"
We have code like this:

[code]
in multiple places. It would be good to define it in grib2.h.

[2021-11-01 16:35] edwardhartnett opened #173 "Libraries should not print error messages..."
We have lots of code like this:

[code]

Well-behaved Unix libraries do not print to stdout (or stderr). They return error codes. Not all programs are being run with a person typing at a keyboard and looking at the output!

[2021-11-01 17:52] edwardhartnett opened #174 "memory overflow in specpack.c code"
In specpack.c we have this code:

[code]

Note that the for loop will always cause pscale to be written one beyond the size it has been malloced for. It was malloced for JJ + MM floats, but since the comparison in the for look is "<=" the loop will walk one float past JJ + MM.

[2021-11-02 14:24] edwardhartnett opened #176 "unreachable code in g2_addfield.c"
In g2_addfield.c we have this code:

[code]

But this code can never be reached, because if the drsnum is wrong, we already discovered that and returned a -5.

[2021-11-02 15:52] #151 closed, assigned to edwardhartnett

[2021-11-02 16:12] edwardhartnett opened #178 "In g2_addgrid.c, there is always a memory leak when a grid with extended data is used"
In g2_addgrid() we have this code:

[code]

This causes extra memory to be allocated in gridtemplates.c:

[code]

Note that the ext pointer now has memory allocated. But when it's time to free this data, there is no call to free the ext memory (from g2_addgrid.c):

[code]

Note that mapgrid is freed, but mapgrid->ext needs to be freed first.

[2021-11-02 17:17] #178 closed, assigned to edwardhartnett

[2021-11-03 11:18] edwardhartnett commented on #162
In the function we have this code:

[code]

But we have already done:

`    ligds = calloc(5, sizeof(g2int));
`

So when we exit, we have a memory leak.

[2021-11-03 11:20] edwardhartnett commented on #162
Thing is, ligds is an array of 5 g2int. Really, there's no reason to malloc it, it can just be declared. BUT, in other code, this pointer is later freed. So I will just cause it to be freed in this error condition, so there is no leak.

[2021-11-03 12:13] edwardhartnett opened #182 "Extra byte allocated for local section"
In g2_unpack2.c we have this code:

[code]
*lensec2 is the length of the section. There's no need to add one in the malloc.

[2021-11-03 12:20] edwardhartnett opened #183 "Awkward use of pointer arithmetic in code"
C pointer arithmetic is to be used when walking pointers through memory. It is not intended to be used instead of array notiation. All through the code we have this. Here's an example from g2_unpack2.c:

[code]
This should be:

[code]

[2021-11-03 12:59] #170 closed, assigned to edwardhartnett

[2021-11-03 13:09] #162 closed, assigned to edwardhartnett

[2021-11-03 13:30] edwardhartnett opened #185 "Unreachable code in misspack.c/compack.c"
In misspack() we have:

`    static g2int simple_alg = 0;
`

and

[code]

Clearly the first half of the if-statement can never be used, and the second part, Dr. Glahn's algorithm, is what the code is using.

We have the exact same code in compack(). That's not very comforting...

[2021-11-03 13:49] BrianCurtis-NOAA commented on #183
Very awkward.

[2021-11-03 14:16] edwardhartnett commented on #183
Another awkward thing is the use of 0 when NULL is intended.

Yes, in C, NULL == 0, so you can write:

[code]

But it is not as clear as the normal C convention:

`a = NULL;
`
Now it is crystal clear that a is a pointer, not an int.

[2021-11-03 18:23] edwardhartnett opened #187 "Add a python API"
Add a python API.

[2021-11-03 19:37] kgerheiser commented on #187
To call this library from Python we'll need to make a shared library build.

[2021-11-04 10:49] edwardhartnett opened #189 "can anyone provide an example of spherical harmonics complex packing?"
Can anyone provide a small, but working, example of the settings needed for spherical harmonics complex packing? Is anyone we know using this?

I am trying to write a test for specpack()/specunpack(), but I don't understand how this packing works - it's quite beyond the sort of math I'm used to. I'm sure I can understand it eventually, but it sure would be helpful if someone who knows it could giv

[2021-11-04 11:42] BoiVuong-NOAA commented on #189
No, I do not know spherical harmonics complex packing.  I do not know any GRIB2 in PROD that uses spherical harmonics complex packing.

[2021-11-04 12:41] #185 closed, assigned to edwardhartnett

[2021-11-04 12:53] Hang-Lei-NOAA commented on #189
When I was developing the interoperable physics driver, I remembered that
the stochastic physics used it in some way. Let me search it.

On Thu, Nov 4, 2021 at 7:42 AM Boi Vuong ***@***.***> wrote:

[2021-11-04 13:05] Hang-Lei-NOAA commented on #189
You can get some reference from here:
git clone https://github.com/noaa-psd/stochastic_physics.git

stochy_internal_state_mod.F90 contains the spherical harmonic definitions
and arrays
stochy_patterngenerator.F90;
spectral_transforms.F90; get_stochy_pattern.F90; get_stochy_pattern.F90
 initial, convert it.

On Thu, Nov 4, 2021 at 8:53 AM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2021-11-04 14:09] edwardhartnett opened #191 "leak when using extended product template in g2_addfield.c, similar to #178"
Similarly to #178, we have this code in g2_addfield.c:

    /* Extend the Product Definition Template, if necessary.  The */
    /* number of values in a specific template may vary depending on */
    /* data specified in the "static" part of the template. */
    if (mappds->needext)
    {
        free(mappds);
        mappds = extpdstemplate(ipdsnum, ipdstmpl);
    }

Then later:

    free(mappds

[2021-11-04 16:26] #191 closed, assigned to edwardhartnett

[2021-11-04 16:34] edwardhartnett opened #192 "header file cleanup"
We have a header file, grib2.h (generated from grib2.h.in).

There are some function prototypes, but many are missing.

The prototypes don't have the parameter names, which are usually provided to help poor programmers remember what is what. ;-)

Also we have some structs defined there which should be internal to the library - there are of no interest to a user.

[2021-11-04 16:50] edwardhartnett commented on #176
OK, this can't be reached but that's OK in this case. This is the equivalent of a default in a case statement that cannot be reached.

[2021-11-04 16:50] #176 closed, assigned to edwardhartnett

[2021-11-04 17:46] #157 closed, assigned to edwardhartnett

[2021-11-04 17:46] #169 closed, assigned to edwardhartnett

[2021-11-06 13:34] #160 closed, assigned to edwardhartnett

[2021-11-06 13:55] edwardhartnett opened #196 "We can use calloc() in g2_getfld()"
In g2_getfld() we have:

[code]

We can use calloc() for this and it will initialize everything to zero.

[2021-11-07 14:17] edwardhartnett commented on #155
OK, I have added this to the doxygen documention in dretemplates.h.

[2021-11-07 14:22] edwardhartnett commented on #152
See #155.

[2021-11-07 14:26] edwardhartnett commented on #152
OK, I think we should remove the exdrstemplate() function, since there are no cases when it is used (i.e. no DRS templates with extensions, except 5.1, which we are not supporting.

If one day we support 5.1 we can recover or recreate this code easily. Until then, let clean it out to keep our library as small and simple as possible.

I will do this after the currently open PRs are merged.

[2021-11-07 14:27] edwardhartnett commented on #154
I have done this...

[2021-11-07 14:27] #154 closed, assigned to edwardhartnett

[2021-11-07 14:32] edwardhartnett commented on #150
OK, when I look at the WMO docs for this (https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-4.shtml) I see that the ext array should be the size of list[7] + list[8] g2ints. So clearly this code cannot work. I guess it never worked, but no one noticed...

[2021-11-07 14:35] edwardhartnett commented on #43
Does MET want to create or read a file larger than 2GB?

Can we have a sample of a similar file that is less than 2GB? I can then construct a test...

[2021-11-07 14:35] edwardhartnett commented on #43
Does MET want to create or read a file larger than 2GB?

Can we have a sample of a similar file that is less than 2GB? I can then construct a test...

[2021-11-08 12:55] BoiVuong-NOAA commented on #43
MET wants to read a file larger than 2GB.  I do not know where MET gets the file ? But, You can use the GFS master file which it is larger than 2 GB for testing.

[2021-11-08 12:58] BoiVuong-NOAA commented on #150
This code  may not work or use in production. So we do not receive any noticed.

[2021-11-08 13:05] edwardhartnett commented on #43
Is the GFS master file available on the web anywhere?

[2021-11-08 13:09] BoiVuong-NOAA commented on #43
I am not sure.  You can check on NOMADS or You can request MET to create one for testing.

[2021-11-08 13:16] edwardhartnett commented on #43
Who at MET requested this change to g2c?

[2021-11-08 13:37] BoiVuong-NOAA commented on #43
You can contact Mallory.
Sorry, I am not feeling well today because of vaccine booster.  I will get back to you on Wednesday. Thanks.

[2021-11-08 13:45] edwardhartnett commented on #43
OK, hope you feel better!

[2021-11-08 15:02] #196 closed, assigned to edwardhartnett

[2021-11-08 15:41] #166 closed, assigned to edwardhartnett

[2021-11-08 15:46] #159 closed, assigned to edwardhartnett

[2021-11-08 15:50] #155 closed, assigned to edwardhartnett, DusanJovic-NOAA, BoiVuong-NOAA

[2021-11-09 10:54] edwardhartnett opened #202 "unneeded typedef for g2int in pack_gp.c and reduce.c"
In pack_gp.c we have:

[code]

No need to try and make C look like fortran...

[2021-11-09 11:26] edwardhartnett commented on #141
OK, might as well just go for it in the next release...

[2021-11-09 12:30] edwardhartnett opened #203 "getdrsindex() in drstemplates.c can be a static function"
Similarly for the get index function for gridtemplates.c and pdstemplates.c.

[2021-11-09 14:25] #192 closed, assigned to edwardhartnett

[2021-11-09 14:25] #141 closed, assigned to edwardhartnett, Hang-Lei-NOAA, DusanJovic-NOAA, BoiVuong-NOAA, BrianCurtis-NOAA

[2021-11-09 18:10] #203 closed, assigned to edwardhartnett

[2021-11-10 11:43] edwardhartnett commented on #32
OK I'm removing this now.

[2021-11-10 11:44] edwardhartnett commented on #43
@malloryprow are you the one who requested this change to g2c?

If so, can you provide me with a sample file?

[2021-11-10 12:42] malloryprow commented on #43
@edwardhartnett sample file at /gpfs/dell2/emc/verification/noscrub/emc.metplus/for_nco/met/met_test/case_5/fv3lam.t00z.namerica.f00.grib2

[2021-11-10 14:19] #182 closed, assigned to edwardhartnett

[2021-11-10 14:25] #149 closed, assigned to edwardhartnett

[2021-11-10 14:30] #32 closed, assigned to edwardhartnett

[2021-11-10 14:51] edwardhartnett opened #209 "Add a g2c_ API which will become the new API of the g2c library, maintaining full support for g2_ API"
The current API, which consists of functions starting with "g2_" (mostly) has some fundamental problems. These include:

* Inability to handle files - only buffers of GRIB2 data. This means the user has to write all file-handling code.
* The library should have a way to scan a file and determine all necessary metadata. This is currently done (with independent Fortran implementations of file-handli

[2021-11-10 14:58] edwardhartnett opened #210 "Add command line utility to dump contents of file like ncdump"
Add a simple command line utility, g2dump, which is similar (though far less capable than) ncdump. The goal is to dump file contents to stdout.

Some features:
* Show metadata only.
* Show one data variable only.

[2021-11-10 15:31] DusanJovic-NOAA commented on #187
Why does python API need to be added to this library? There are already many different python APIs for decoding/encoding GRIB2 files. For example: https://github.com/jswhit/pygrib or https://github.com/eengl/grib2io or https://www.cpc.ncep.noaa.gov/products/wesley/wgrib2/pywgrib2_s.html. How will this API be different than all of these.
I think this library should be just a C implementation of gri

[2021-11-10 15:48] edwardhartnett commented on #187
Unfortunately neither of those python libraries are suitable for all our needs. The first because it uses ecCodes, which is not approved for operational machines, and the second depends on wgrib2, which we are trying to move away from due to repeated difficulties building and installing.

Thus a new python API is called for.

This library is intended to grow in any case: we are going to extend its

[2021-11-10 16:38] DusanJovic-NOAA commented on #187
pygrib used to be wrapper around g2clib, which they removed and replaced it with eccodes. I should have checked that, so sorry for listing it as an example. grib2io is definitely using g2c it even says that in the description, where do you see that it depends on wgrib2. wgrib2 itself depends (optionally) on g2c, which unfortunately is using very old version (1.4.0) due to some bugs in g2c which we

[2021-11-10 17:38] edwardhartnett commented on #187
We have put a lot of effort and time into improving wgrib2, but without the cooperation of the developer, we get nowhere.

I didn't know about grib2io, I will take a look...

[2021-11-11 12:41] edwardhartnett opened #213 "CMake question: PNG_FOUND=1 even though USE_PNG=OFF - how can this be?"
In our main CMake file we have:

`option(USE_PNG      "Use PNG library"      ON)
`
later, we have:

[code]
and

[code]

So if I build like this, with PNG off:

[code]

Note that although USE_PNG is OFF, PNG_FOUND=1!

So we are including linking to PNG even if USE_PNG=OFF.

@kgerheiser and @aerorahul any idea why CMake has PNG_FOUND=1 even when we don't try to find PNG?

[2021-11-11 12:46] edwardhartnett opened #214 "We have ifndef USE_PNG, but it is always defined, even if PNG is off"
In enc_png.c we have this code:

#ifndef USE_PNG
void dummy(void) {}
#else   /* USE_PNG */

But USE_PNG is always defined, even if -DUSE_PNG=OFF with cmake.

[2021-11-11 12:48] edwardhartnett opened #215 "Remove capability to build without PNG"
We some code that deals with building without PNG.

But that code is broken, so PNG is always built in any case (see #214 and #213).

So do we need to build without PNG?

Unless someone can articulate a strong reason, I propose to take all this code out, and require PNG for every build. PNG is widely available.

[2021-11-11 12:48] edwardhartnett opened #216 "Remove capability to build without PNG"
We some code that deals with building without PNG.

But that code is broken, so PNG is always built in any case (see #214 and #213).

So do we need to build without PNG?

Unless someone can articulate a strong reason, I propose to take all this code out, and require PNG for every build. PNG is widely available.

[2021-11-11 12:51] #216 closed, assigned to edwardhartnett

[2021-11-11 12:53] edwardhartnett commented on #112
Apparently you don't build without PNG code, because that capability does not seem to be working.

So once again this issue has come up. Is there a use case for building g2c without PNG? Given that you have been building it with PNG all this time, it seems that's OK.

So do we need to preserve (or add) this capability? The usual rule with libraries is to require dependencies if they can be easily

[2021-11-11 12:55] edwardhartnett commented on #165
Especially in light of #214 ...

[2021-11-11 13:00] edwardhartnett opened #217 "add new function g2c_strerror() to return error message"
We are introducing a uniform set of error codes across the library with the new g2c API (see #209).

I have started introducing these in internal code. They will not be exposed to users until #209 is complete.

We need a function g2c_strerror() which returns the error message for each error code. The new g2c functions will never print anything to stdout/stderr. Like any good unix library, it will

[2021-11-11 13:06] edwardhartnett opened #218 "Always call extpdstemplate() instead of getpdstemplate()"
From g2_addfield.c:

[code]

But in extpdstemplate() we have:

[code]

So we call just call extpdstemplate() and let it handle both cases, with and without an extension.

[2021-11-11 13:31] edwardhartnett commented on #218
OK, the problem here is that extpdstemplate() requires that idpstempl be allocated to the correct length. But when reading a message, that length is not known until this function is called. ;-)

So one answer would be to have extpdstemplate() allocate the space for ipdstmpl.

Or the functions can be left alone and rewrittten for the g2c API...

[2021-11-11 13:51] DusanJovic-NOAA commented on #112
I do build (in some projects) g2c without any external library, And it works, or it used to work. If it's broken we need to restore that capability. For example in projects in which I know I will not be creating or reading files using PNG compression I can simply add this repository as a submodule and not require any external dependency other than C compiler. I never heard of that rule that if ext

[2021-11-11 13:52] DusanJovic-NOAA commented on #112
[code]

[2021-11-11 14:17] edwardhartnett commented on #213
OK, I should have known...

I needed to delete my build directory. CMake was finding the old value of PNG from the cache...

[2021-11-11 14:17] #213 closed, assigned to kgerheiser, aerorahul, edwardhartnett

[2021-11-11 14:27] DusanJovic-NOAA commented on #215
Yes. We need to be able to build without PNG. What exactly is broken?

[2021-11-11 14:28] DusanJovic-NOAA commented on #216
Please do not remove capability to build without PNG. If something is broken we need to fix it.

[2021-11-11 14:33] DusanJovic-NOAA commented on #214
USE_PNG is not defined if project is configured with `cmake -DUSE_PNG=OFF`. Unless something is changed in recent commits. What exactly do you want to achieve with all this recent PNG related issues?

[2021-11-11 14:44] DusanJovic-NOAA opened #219 "Do not add hardcoded paths to CMakeLists.txt"
https://github.com/NOAA-EMC/NCEPLIBS-g2c/blob/4eb7015aedd22e40c9cad102c24010d890db7ee8/CMakeLists.txt#L37

[2021-11-11 14:56] DusanJovic-NOAA commented on #168
Please do not make changes like this anymore. If PNG installation is broken on Mac it should be fixed there. Or if Mac specific code needs to be added to this project then it must be in added Mac specific if section.

[2021-11-12 13:22] edwardhartnett commented on #219
Agree. But I need this to work on MacOS. If  you can find a better way, I am all for it. ;-)

[2021-11-12 13:26] edwardhartnett commented on #214
User error on my part. I'm getting a handle on it...

I want to achieve the same kind of quality I have in the netCDF libraries. There will be questions about PNG, about JPEG, about other compression methods, about documentation, about building, and about testing. Every single part of this library is subject to review and improvement.

When I have a full, 100% understanding of every single line of

[2021-11-12 13:26] #214 closed, assigned to edwardhartnett

[2021-11-12 13:32] edwardhartnett commented on #215
Why? Can you please give me a use case, like a platform we need to build on which does not support PNG?

If we make PNG required every time, it will work fine on Linux, Mac, and Windows, and all our operational and R&D machines. It will simplify the build, reduce testing needs, and reduce risk.

So what is the actual justification for this feature? Why is it required?

[2021-11-12 13:37] edwardhartnett commented on #168
What do we mean by "changes like this?" ;-)

I will be making many changes to this library. We (the NCEPLIBS team and Arun) recently had a meeting in which we mapped out our development plans with respect to GRIB code. We have some nice ambitious plans! ;-) No longer will these libraries languish, neglected and untested. A new day is dawning for this code!

However, backward compatibly will be pre

[2021-11-12 13:41] #52 closed, assigned to edwardhartnett

[2021-11-12 13:45] #172 closed, assigned to edwardhartnett

[2021-11-12 14:20] DusanJovic-NOAA commented on #215
See my comment in #112.

The fact that PNG is available on all platforms we support does not mean we have to require it, same for Jasper and OpenJPEG. For example zlib is available on even more platforms and yet you can build HDF5 without it. It's optional dependency. Similar with eccodes, both PNG and Jasper/OpenJPEG are optional, non mandatory dependencies.

[2021-11-12 14:50] DusanJovic-NOAA opened #221 "MacOS workflow uses invalid option: ENABLE_OpenJPEG is not valid cmake option"
[code]

https://github.com/NOAA-EMC/NCEPLIBS-g2c/blob/c0e92eea86541ae54ccb5137e3bc75a627eee11b/.github/workflows/macOS.yml#L51

https://github.com/NOAA-EMC/NCEPLIBS-g2c/blob/c0e92eea86541ae54ccb5137e3bc75a627eee11b/.github/workflows/linux.yml#L52

It should be `USE_OpenJPEG`

[2021-11-12 15:32] edwardhartnett opened #222 "in macos CI run, build PNG from source and cache it instead of getting it from homebrew, then revert to using find_package() in CMake"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/pull/164#pullrequestreview-804858098

[2021-11-12 15:33] edwardhartnett opened #223 "in macos CI run, build PNG from source and cache it instead of getting it from homebrew, then revert to using find_package() in CMake"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/pull/164#pullrequestreview-804858098

[2021-11-12 15:44] edwardhartnett commented on #215
Very well, we will leave this. But it means we have to add testing for these combinations to the CI.

[2021-11-12 16:48] dusanjovic commented on #168
By 'changes like this' I mean changes that are platform specific. "/usr/local/lib" does not necessarily exist on all platforms. Platform specific code should be in if(....) .... endif() sections.

[2021-11-13 12:11] #165 closed, assigned to edwardhartnett

[2021-11-14 14:48] #215 closed, assigned to edwardhartnett

[2021-11-14 18:26] DusanJovic-NOAA opened #226 "Fix first test in tst_jpeg.c"
Code in the first test in tst_jpeg.c does not actually compare the input array passed to `enc_jpeg2000` function with the output array from `dec_jpeg2000`.

[2021-11-15 13:47] #226 closed, assigned to nobody

[2021-11-15 16:17] edwardhartnett commented on #222
Duplicate.

[2021-11-15 16:17] #222 closed, assigned to edwardhartnett

[2021-11-15 16:26] edwardhartnett commented on #223
This should solve #219.

[2021-11-15 16:26] #218 closed, assigned to edwardhartnett

[2021-11-15 17:10] edwardhartnett opened #229 "Do we really need to build two copies for each GitHub action test?"
In all our workflows we have:
on: [push, pull_request]

This causes each PR to be built twice. I'm not sure why we did this origianly. It could be that it's just example code that I cut-and-pasted when we were first starting to set up these actions. ;-)

On the macOS workflow I have changed this to:
on: [pull_request]

This seems to do just fine. We should do this with all our workflows.

@kgerhei

[2021-11-15 17:12] kgerheiser commented on #229
Different semantics. With PR only, the Action will only be run when a PR is opened, but on Push it will be run each time you push to a branch.

[2021-11-15 18:04] edwardhartnett commented on #229
Yes you're right. Bummer.

[2021-11-15 18:04] #229 closed, assigned to edwardhartnett

[2021-11-16 14:50] DusanJovic-NOAA opened #230 "Templates header files (drstemplates.h, gridtemplates.h and pdstemplates.h) can be combined into corresponding C files"
These three header files (`drstemplates.h`, `gridtemplates.h` and  `pdstemplates.h`) are used only in corresponding .c files:
[code]
The structs and template arrays declared and defined in these .h file is only used in corresponding .c files. So I suggest we move the code form .h to .c files and remove .h files. Template arrays can also be declared as static.

[2021-11-16 15:22] edwardhartnett commented on #230
Well that seems like a good idea.

Here's a question: is this template info part of the public API? That is, will users of the library ever ask about the template? Or do we assume the user code has full knowledge of what's in the templates, without any help from the g2c library?

[2021-11-16 15:38] DusanJovic-NOAA commented on #230
No. It is not public, and it should not be. Publicly accessible functions do not depend on this structure and the content of these arrays. The template values are accessed only via get***template functions. If we move them to .c files and make them static we'll enforce that, ie. make them private.
The user code knows nothing about these templates.The values in these templates are used to decode/en

[2021-11-16 15:54] DusanJovic-NOAA commented on #230
Even the `gtemplate`  struct, currently defined in `grib2.h` is not part of the public API, and can be (and I think should) be moved to `grib2_int.h`

[2021-11-18 19:14] #221 closed, assigned to edwardhartnett

[2021-11-25 13:17] #112 closed, assigned to edwardhartnett, DusanJovic-NOAA

[2021-12-06 20:54] edwardhartnett commented on #34
OK, someone sent me a link to a larger than 2GB file, but it was in email and I can't find it...

Does anyone have a larger than 2GB GRIB2 file we can test with?

[2021-12-06 20:58] BoiVuong-NOAA commented on #34
You can use GFS master file or ask Mallory.

[2021-12-06 21:15] edwardhartnett opened #232 "release version 1.7.0"
Let's release 1.7.0, which has a lot of new documentation, many more unit tests, and some refactoring.

[2021-12-06 21:16] edwardhartnett commented on #34
Where do I get the GFS master file?

[2021-12-06 21:17] BoiVuong-NOAA commented on #34
It is DELL machine (Mars or Venus)

[2021-12-06 23:05] #161 closed, assigned to edwardhartnett

[2021-12-07 13:59] edwardhartnett commented on #223
The answer that worked was from here: https://github.com/torch/image/issues/137

Basically, there is a libpng that is already installed on macos and is in a /Library/Framework directory which (on MacOS) cmake searches first. So it finds the older version of PNG and gets confused.

The answer is to delete that part of the /Library/Framwork directories like this:
`        sudo rm -rf /Library/Framew

[2021-12-07 14:24] #223 closed, assigned to edwardhartnett

[2021-12-07 14:24] #219 closed, assigned to nobody

[2021-12-07 14:25] edwardhartnett commented on #145
Many documentation updates have been done. I will close this issue.

[2021-12-07 14:25] #145 closed, assigned to edwardhartnett

[2021-12-07 14:25] edwardhartnett commented on #8
Many unit tests have been added. I will close this issue.

[2021-12-07 14:25] #8 closed, assigned to nobody

[2021-12-07 15:55] edwardhartnett commented on #173
This will be addressed by #209. The existing g2 API will continue to print error messages for backward compatibility.

[2021-12-07 15:55] #173 closed, assigned to edwardhartnett

[2021-12-07 16:09] #103 closed, assigned to edwardhartnett

[2021-12-07 16:09] #202 closed, assigned to edwardhartnett

[2021-12-07 16:14] DusanJovic-NOAA opened #237 "Bug in pdstemplates.c (function extpdstemplate)"
In extpdstemplate function number of if tests for templates 51, 33, 34, etc are incorrectly nested inside if (number == 47) and are never reached.

[2021-12-07 22:15] #237 closed, assigned to edwardhartnett

[2021-12-08 13:06] edwardhartnett opened #240 "pdstemplate 35 says it needs extension, but no code handles it in extpdstemplate() so no extension is allocated"
pdstemplate 35 says it needs extension, but no code handles it in extpdstemplate() so no extension is allocated.

From pdstemplates.c:

[code]

Yet in the function extpdstemplate() there is no handler for number == 35.

There is a test for this in tst_pdstemplates.c.

@BoiVuong-NOAA do you know what is the deal with pdstemplate 35?

[2021-12-08 13:11] #230 closed, assigned to edwardhartnett

[2021-12-08 13:14] BoiVuong-NOAA commented on #240
No, I do not.  This was validation of template 4.35 during WMO group developed this template.  We do not have any data to test with it.

[2021-12-08 13:37] edwardhartnett commented on #240
I will bump this to the next release...

[2021-12-08 13:39] BoiVuong-NOAA commented on #240
Do you have the time for the next release ?

[2021-12-08 13:40] edwardhartnett commented on #240
Do you know of some reason why a release is needed?

[2021-12-08 13:48] BoiVuong-NOAA commented on #240
Users in UPP are waiting for this release to work on their development. I have given them the code for testing since in 9/2021.

[2021-12-08 13:52] edwardhartnett commented on #240
Who is involved in this code in UPP?

Why are they waiting on the next release? I am not aware that it contains any new feature or bugfix that would be important to them...

[2021-12-08 14:05] BoiVuong-NOAA commented on #240
These are new fields and requested by Tracy Hertneky and Lin L Zhu and Wen Meng.
If you can not release now, then they have to wait for it.  Note: It is not a bugfix.

[2021-12-08 14:59] edwardhartnett commented on #240
We can release. Are you going to add the fields to this repo as well?

[2021-12-08 15:03] BoiVuong-NOAA commented on #240
Yes, I all add these fields in the test code. Note: These fields are not used in G2C library.

[2021-12-09 13:09] edwardhartnett commented on #183
I believe most of these have been fixed.

[2021-12-09 13:09] #183 closed, assigned to edwardhartnett

[2021-12-09 13:13] edwardhartnett commented on #152
OK, instead, I have commented out the code for this template, just as the template itself is commented out.

[2021-12-09 13:31] edwardhartnett commented on #126
This turned out to be easier than I thought. On the gh-pages branch I added a subdirectory called ver-1.6.4 and copied the documentation there. Then I put a pointer at the top of the user_guide to the older version of the docs. Easy-peasy!

[2021-12-09 13:33] edwardhartnett commented on #126
@GeorgeGayno-NOAA we should do this for UFS_UTILS as well...

[2021-12-09 14:54] #152 closed, assigned to edwardhartnett, BoiVuong-NOAA

[2021-12-09 17:29] #126 closed, assigned to edwardhartnett

[2021-12-21 17:24] edwardhartnett commented on #43
OK, is it really impossible to get me one of these files? ;-)

@Hang-Lei-NOAA you tried to get the file off the dell2 and apparently could not becuase of a 2GB limit somewhere. Did you report that to the sysadmins? Seems like a serious problem that others will also encounter...

@malloryprow is there any way to get such a file on hera where I can reach it?

This is the last issue before a release

[2021-12-21 17:37] malloryprow commented on #43
@edwardhartnett I sent an email on 12/9 the file is on Hera at /scratch1/NCEPDEV/stmp2/Mallory.Row/fv3lam.t00z.namerica.f00.grib2

[2021-12-21 17:44] edwardhartnett commented on #43
OK, thanks, I'll take a look!

[2021-12-21 18:09] Hang-Lei-NOAA commented on #43
Hi, Edward

I got it transferred to hera on 12/9. And send this to your email.
It is transferred into
/scratch1/NCEPDEV/global/Hang.Lei/fv3lam.t00z.namerica.f00.grib2

I reported it to helpdesk. They said that it was the network issue on 12/8.
But later I try through the hpss, the  limitation is still there.

Hang

On Tue, Dec 21, 2021 at 12:44 PM Edward Hartnett ***@***.***>
wrote:

[2022-04-14 16:51] edwardhartnett opened #245 "latest version of jasper causes build to break"
With jasper-3.0.3:

[code]

[2022-04-14 16:54] edwardhartnett commented on #245
The warning is coming from here: /usr/local/jasper-3.0.3/include/jasper/jas_config.h

Which has:

[code]

Also:

[code]

When I check `__STDC_VERSION__` I see that it is later than the Jasper one.

[code]

This seems like japser dumbness in some way. Firstly I built jasper yesterday with the exact same compiler, so why is `JAS_STDC_VERSION` different from `__STDC_VERSION__`?

Secondly, why is the

[2022-04-14 17:12] edwardhartnett opened #247 "get rid of jasper?"
Do I remember correctly that we were planning on getting rid of jasper from our builds?

@kgerheiser @DusanJovic-NOAA do you guys know if we are planning to stop using jasper? And what will we be using instead?

[2022-04-14 17:45] DusanJovic-NOAA commented on #247
I don't know. I see NCO still installs Jasper as a default jpeg2000 library on production machines.

[2022-04-14 17:59] edwardhartnett commented on #247
Jasper is troublesome. The maintainer has a lot of fun, original ideas of how to do things. See #245 for the latest example.

[2022-04-14 18:06] DusanJovic-NOAA commented on #247
Is this issue present in the version that we currently use, 2.0.22?

[2022-04-14 18:08] edwardhartnett commented on #245
Here's some preprocessor code I used to debug the problem of warnings:

[code]

Turns out the problem is in the g2c CMakefile.txt:

`set_property(TARGET ${lib_name} PROPERTY C_STANDARD 99)
`
Should be:

`set_property(TARGET ${lib_name} PROPERTY C_STANDARD 11)`

[2022-04-14 18:38] edwardhartnett opened #248 "we are not initializing or tearing down the jasper library"
Jasper has some rules for initialization and teardown that we are not following. For jasper-3:

https://jasper-software.github.io/jasper-manual/releases/version-3.0.3/html/lib_init.html

[2022-04-14 19:01] edwardhartnett commented on #245
Seems like the functions we are using, jpc_encode() and jpc_decode() are internal functions of Jasper that we should not be using. Seems like the author wants us to use jas_image_encode()/jas_image_decode() instead.

The jpc functions are not documented in the jasper documentation.

[2022-04-14 19:17] edwardhartnett commented on #247
No, it appears in the jasper3.x series.

[2022-04-15 15:32] edwardhartnett commented on #245
OK, the problem is that jpc_encode/jpc_decode are no longer exported functions of the library.

[code]

I think the answer here is to use the jas_image_encode/jas_image_decode instead. These are the public functions we are supposed to be using, according to the jasper documentation.

I also see in the release notes for jasper-3.0.0:

[2022-04-15 17:28] edwardhartnett commented on #247
OK, I have a fix so I guess there's no urgency about removing jasper from the build.

[2022-04-15 17:28] #247 closed, assigned to kgerheiser, edwardhartnett

[2022-04-18 14:13] edwardhartnett commented on #248
This was fixed in #250

[2022-04-18 14:13] #248 closed, assigned to edwardhartnett

[2022-04-21 14:25] #245 closed, assigned to edwardhartnett

[2022-05-05 12:42] asesidaa opened #252 "Compatibility with ncl?"
Hi,
I am trying to build [ncl](https://www.ncl.ucar.edu/) with grib2 support. However, ncl is replying on an old patched version of [g2clib](http://www.ncl.ucar.edu/Download/files/g2clib-1.6.0-patch.tar.gz), which builds `libgrib2c.a` instead of `libg2c.a`. And even if I changed the project name in CMakeLists.txt to `grib2c`and build `ncl`, I can only get
[code]
so I assume some breaking changes h

[2022-05-05 13:07] edwardhartnett commented on #252
I'm afraid you will have to be more specific. I am not terribly familiar with NCL (NCAR Command Language?)

I can't address what the patch to refer to might have done, but we have not made any backward incompatible changes in g2c, so it should continue to work wherever it used to work.

[2022-05-05 15:28] asesidaa commented on #252
I have tested and it seems that v1.6.2 works, while v1.6.4 doesn't, so maybe some changes in between have caused this incompatibility?

[2022-05-05 15:32] kgerheiser commented on #252
Looking at the release notes and history there don't appear to be many code changes. Wonder if it's related to https://github.com/NOAA-EMC/NCEPLIBS-g2c/pull/121/files

And now some types are mismatched?

[2022-05-05 17:06] asesidaa commented on #252
[code]

This is the test script I used, invoked using `ncl 'filename="file.grb2"' test.ncl`
When succeed, ncl should just print `Exists!` and exit, however, when using v1.6.4, `ncl` will error out parsing grib2 files (since `isfilepresent` will actually parse the file and only report true if the file is in correct format)

[2022-05-05 18:16] asesidaa commented on #252
This seems to be the problem, after change types back to
[code]
`ncl` can now parse grib files without issue.
@edwardhartnett maybe this can be documented?
Also with regard to library name, is it possible to produce `libg2c.a` and `libgrib2c.a` at the same time for maximum compatibility?

[2022-05-09 19:30] kgerheiser commented on #252
I don't think we will provide an alternate library name within the build. It's kind of hacky just for this particular purpose, and NCL is in maintenance mode.

If you want to build NCL using Spack and g2c I would recommend applying a patch to NCL using Spack so it works with this version of g2c. A quick look at the NCL source shows that changing the library name is a simple text replacement of `-l

[2022-05-09 19:52] kgerheiser commented on #252
Poked around NCL a little, and it's this file (https://github.com/NCAR/ncl/blob/develop/ni/src/ncl/NclGRIB2.h) that hard codes the types as `int` instead of using `g2int`, which is the proper usage. You could try changing those to `g2int` and see what happens.

[2022-06-13 16:12] kgerheiser opened #253 "Add option to build g2c with shared libraries"
This library defaults to static, and I don't think there's any good reason for that. When building Grads using Spack, I had to compile g2c with `-fPIC` which could resolved by just compiling shared libraries. Also `grib2io` uses g2c from Python and uses a shared library to do this.

[2022-06-17 13:02] #252 closed, assigned to nobody

[2022-07-12 18:09] #253 closed, assigned to nobody

[2022-07-18 17:46] edwardhartnett opened #255 "should all the GRIB2 codes be located in g2c instead of the g2tmpl and the python library?"
Or perhaps the python library should use g2tmpl?

@EricEngle-NOAA @Hang-Lei-NOAA @kgerheiser and others: comments welcome.

[2022-08-08 11:13] edwardhartnett commented on #232
OK, I need a new release of g2c to help with g2 development. I will release 1.7.0 soon...

[2022-08-08 11:43] edwardhartnett opened #257 "add capability to download test files from the g2 project from the EMC FTP site"
We have some GRIB2 test files on our FTP site which can be downloaded and used for tests.

[2022-08-08 12:41] #257 closed, assigned to edwardhartnett

[2022-08-10 13:05] edwardhartnett opened #260 "need pngpack()/pngunpack() that can take double data"
In order to use the C library instead of redoing all this in the Fortran library, I need a C function that handles double type, to be used when the g2 library is build with real=8.

[2022-08-10 17:01] edwardhartnett opened #261 "change g2float to just float"
No need to define our own types when there already is one that we can use.

[2022-08-10 23:02] edwardhartnett opened #262 "find some functionality currently provided by wgrib2"
From @aerorahul

[code]

[2022-08-11 13:30] edwardhartnett opened #265 "macOS CI build now fails due to problem finding JPEG libraries..."
Even with no changes to the code, the CI fails for MacOS when JPEG is used. The MacOS build is failing to find the JPEG library when building:

-- Could NOT find JPEG (missing: JPEG_LIBRARY JPEG_INCLUDE_DIR)
CMake Error at /usr/local/Cellar/cmake/3.24.0/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find Jasper (missing: JPEG_LIBRARIES) (found suitable version

[2022-08-11 13:30] edwardhartnett opened #266 "macOS CI build now fails due to problem finding JPEG libraries..."
Even with no changes to the code, the CI fails for MacOS when JPEG is used. The MacOS build is failing to find the JPEG library when building:

-- Could NOT find JPEG (missing: JPEG_LIBRARY JPEG_INCLUDE_DIR)
CMake Error at /usr/local/Cellar/cmake/3.24.0/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find Jasper (missing: JPEG_LIBRARIES) (found suitable version

[2022-08-11 13:57] DusanJovic-NOAA commented on #266
Maybe they changed the macOS VM and libjpeg is not installed by default anymore. Install it explicitly.
[code]

[2022-08-11 14:10] edwardhartnett opened #267 "Take doxygen build out of macos build"
We only need to build docs in one CI build...

[2022-08-11 15:16] #265 closed, assigned to edwardhartnett

[2022-08-12 12:27] #260 closed, assigned to edwardhartnett

[2022-08-12 13:21] edwardhartnett commented on #266
I couldn't get this working so I turned off Jasper builds for the macos. Now macos is only tested with openjpeg.

If this can be fixed it would be great, but I've got some other work under way and I can't wait to sort out this mac install problem. ;-(

[2022-08-12 13:21] edwardhartnett commented on #267
This has been done.

[2022-08-12 13:21] #267 closed, assigned to edwardhartnett

[2022-08-12 13:31] edwardhartnett commented on #187
grib2io is the official Python API, so I will close this issue.

I would love it if wgrib2 could be built and maintained reasonably, but it's a giant mess. The code is not even in a repo, the build system is a home-rolled nightmare which includes actual COPIES of old netCDF and other libraries, and there is no unit testing, making modifications impossible to verify.

Kyle spent the time to develop

[2022-08-12 13:31] #187 closed, assigned to edwardhartnett

[2022-08-12 13:33] edwardhartnett commented on #210
This more properly belongs in the grib_util package. I will close this issue.

[2022-08-12 13:33] #210 closed, assigned to edwardhartnett

[2022-08-12 13:39] edwardhartnett opened #269 "Add capability of handling double to jpcpack()/jpcunpack()"
In order to handle this for the Fortran library, the jpcpack()/jpcunpack() functions need to handle double as well as float.

[2022-08-12 17:39] edwardhartnett opened #271 "Much unwelcome output from Jasper"
When I run tst_jpeg, I get a bunch of chatter from Jasper:

[code]

[2022-08-12 20:58] #261 closed, assigned to edwardhartnett

[2022-08-15 12:55] edwardhartnett opened #273 "Add logging capability for programmers and power-users"
Add a capability for developers to see logging messages when logging is enabled at build-time.

[2022-08-15 17:02] #269 closed, assigned to edwardhartnett

[2022-08-15 17:02] #271 closed, assigned to edwardhartnett

[2022-08-15 17:02] #273 closed, assigned to edwardhartnett

[2022-08-16 13:20] edwardhartnett commented on #266
This was fixed in #272

[2022-08-16 13:20] #266 closed, assigned to edwardhartnett

[2022-08-16 13:26] edwardhartnett commented on #43
OK, I am circling around to this again. ;-)

I have obtained my own very large grib2 file. I am pondering how to make it part of testing.

Meanwhile, what g2c functions do I run on this file to demonstrate a >2GB problem?

In fact, I don't think such a problem can exist in the C library, since we are using 64-bit ints for all arguments and internally for all ints. So why a 2 GB limit?

When @kgerh

[2022-08-16 13:35] edwardhartnett opened #276 "Add functions to open, and close GRIB2 files"
Given that this is a GRIB2 library, I would have expected to find a function that opens a GRIB2 file and reads the metadata in the file.

Yet there does not seem to be such a function.

Am I missing something?

@EricEngle-NOAA how do you open a file with the python library?

[2022-08-16 13:44] edwardhartnett commented on #276
OK, I see that @EricEngle-NOAA answers my question in his documentation:

[2022-08-16 14:00] edwardhartnett commented on #276
We need functions in the library to open, create, and close GRIB2 files.

For example, I need such functions to test >2gb capabilities for NOAA-EMC/NCEPLIBS-g2c#43 and NOAA-EMC/NCEPLIBS-grib_util#294.

However, such functions would be very useful for many other tests as well. And also to users who otherwise have to implement all the file I/O.

[2022-08-17 12:30] EricEngle-NOAA commented on #276
FWIW, I agree that the need is there for these functions.  I *think*, why the functionality is not there, is that g2c initially was just a port to C from the parent Fortran-based g2 library using f2c.  The g2 library depends on bacio (Byte-Addressable C IO).

[2022-08-18 16:52] edwardhartnett commented on #232
OK I am going to release now...

[2022-08-18 17:08] edwardhartnett commented on #276
Yes, and bacio, when I refactored it, came down to one C function that does file IO in a perfectly ordinary way. ;-)

I am changing hte g2 Fortran library so that it calls the C library, and all functionality will live in the C library. I've already started this with pngpack/jpegpack because they used copies of some old C code in the g2 library. Moving forward, the C library will provide pgppack/j

[2022-08-18 17:17] edwardhartnett opened #279 "Update README to reference our presentation on these libraries from the NCAR ISS conference in 2022"
Update README to reference our presentation on these libraries from the NCAR ISS conference in 2022

[2022-08-18 17:19] edwardhartnett commented on #232
Released...

[2022-08-18 17:19] #232 closed, assigned to edwardhartnett

[2022-08-18 20:02] #279 closed, assigned to edwardhartnett

[2022-08-24 23:37] edwardhartnett opened #282 "A better way to handle GRIB codes?"
Here we can find XML versions of the GRIB codes: https://community.wmo.int/activity-areas/wis/latest-version

Here's a sample:

[code]

So we can download these XML files (there are 2 for GRIB2) in the repo. Then we can find and use an XML parser library. Then g2c could read the XML and serve up all the code information. This would be very helpful for g2c, and for other applications using g2c.

In

[2022-08-25 12:35] BoiVuong-NOAA commented on #282
This is good idea to use XML files in the repo.  But, I do not know how UPP code use the g2tmpl lib in GFS, NAM, RRFS, and UFS models.  You need to check with developers.

[2022-08-25 12:54] edwardhartnett commented on #282
g2tmpl users will not see any change.

After ingesting the codes into g2c, the g2tmpl Fortran functions can be changed to get their results from the g2c library.

Users of g2tmpl would not see any difference, but the codes would move to the C library and be served from there to any other software that needs them, including g2tmpl.

[2022-08-25 13:16] BoiVuong-NOAA commented on #282
That is great.

[2022-08-29 13:50] edwardhartnett opened #284 "Tests should include grib_int.h instead of grib2.h"
grib_int.h has some extra defines that are used in tests, but are of no interest to the end user.

[2022-08-29 13:51] edwardhartnett opened #285 "More doxygen improvements"
More doxygen improvements are possible...

[2022-08-29 18:38] edwardhartnett commented on #284
The header file grib2.h is the public header file for the library. It should contain constants and prototypes that the end-user will find helpful.

The header file grib2_int.h (int for internal) is for internal prototypes and constants used in the code, but which we do not expect the end user to ever use.

[2022-08-29 18:38] #284 closed, assigned to edwardhartnett

[2022-08-30 13:01] DusanJovic-NOAA commented on #282
I do not like the fact that this requires external library to parse xml files. I think this just adds unnecessary complexity.
Why do we need to read xml files instead of equivalent text files.

[2022-08-30 13:16] edwardhartnett commented on #282
What equivalent text files?

[2022-08-30 13:33] DusanJovic-NOAA commented on #282
These two, available from the same place the xml files are available from (WMO).

[Template.txt](https://wmoomm.sharepoint.com/sites/wmocpdb/eve_activityarea/Forms/AllItems.aspx?ga=1&id=%2Fsites%2Fwmocpdb%2Feve%5Factivityarea%2FWMO%20Codes%2FWMO306%5FvI2%2FAllVERSIONS%2F2022%2D05%2D15%2FGRIB2%2D29%2E1%2Ftxt%2FCodeFlag%2Etxt&parent=%2Fsites%2Fwmocpdb%2Feve%5Factivityarea%2FWMO%20Codes%2FWMO306%5FvI

[2022-08-30 13:40] edwardhartnett commented on #282
Those links take me to a sharepoint site for which I do not have permissions. Are these documents on the web?

[2022-08-30 13:41] edwardhartnett commented on #282
I see the text versions are available here: https://wmoomm.sharepoint.com/sites/wmocpdb/eve_activityarea/Forms/AllItems.aspx?id=%2Fsites%2Fwmocpdb%2Feve%5Factivityarea%2FWMO%20Codes%2FWMO306%5FvI2%2FAllVERSIONS%2F2022%2D05%2D15%2FGRIB2%2D29%2E1&p=true&ga=1

I will ponder...

[2022-08-30 14:12] edwardhartnett opened #288 "Are we using the wrong value for GRIB Master Tables Version Number when we create files?"
In section 1 of GRIB2 messages we have (from our GRIB documentation):

Table 1.0 is here:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table1-0.shtml

Since we are keeping our code tables up to date with WMO changes, I would assume we should be using:

`25 | Version Implemented on 06 May 2020
`

But when I look at the test file we are using: gdaswave.t00z.wcoast.0p16.f000.grib2 I s

[2022-08-30 14:13] DusanJovic-NOAA commented on #282
Or here:
https://github.com/wmo-im/GRIB2/tree/master/txt

[2022-08-30 14:29] DusanJovic-NOAA commented on #288
I do not think WMO requires the use of latest available master table to be used at a time of message creation. I believe it's perfectly legal to use previous versions as long as the encoded table version number corresponds to the templates used to encode the message. i.e message must be valid. Now, why these wave files use 'old' master table version I do not know, but that should not be an issue.

[2022-08-30 14:30] BoiVuong-NOAA commented on #288
Hi Ed,

All NCEP GRIB2 products are using GRIB master tables version number 2 as
default.  Because of AWIPS products, We have tried to change the GRIB2
master table to current version and It failed. Except WAFS products are
using GRIB master tables version number 6.

Thanks,

Boi

On 8/30/2022 10:12 AM, Edward Hartnett wrote:

[2022-08-30 14:31] DusanJovic-NOAA commented on #288
BTW, current master table version is 29.1 not 25.
https://github.com/wmo-im/GRIB2/releases

[2022-08-30 14:35] BoiVuong-NOAA commented on #288
Dusan,

You are correct. All users (HPC, CPC, AWC, FAA, all AWIPS forecast
offices, ... ) have used to encode our NCEP products at GRIB master
tables version number 2.

On 8/30/2022 10:29 AM, Dusan Jovic wrote:

[2022-08-30 14:44] edwardhartnett commented on #288
@DusanJovic-NOAA do the contents of the templates change from version to version?

In other words are there templates in version 2 which are different in version 29.1? And are we expect to use the version 2 templates only in our files, since we say version 2?

@BoiVuong-NOAA can you elaborate about the AWIPS issue? So we provide GRIB2 files to AWIPS users? And if we change our code for master vers

[2022-08-30 14:56] BoiVuong-NOAA commented on #288
Hi Ed and Dusan,

No, The templates will not change from version to version. When WMO
release new version, it may add some new templates, new parameters or
fix bug in templates (if user found bugs).  At NCEP, We will use master
table version 2 as a super set to cover all grib master tables version.

AWIPS has been developed with hard code for GRIB2 as master grib version
2.  It is hard for them to

[2022-08-30 14:57] DusanJovic-NOAA commented on #288
If I understand your question correctly, you are asking whether template(n) is strict subset of template(n+1). I do not know, I hope it is, it better be, otherwise we must maintain code for all versions.

[2022-08-30 15:04] edwardhartnett commented on #288
OK, thanks for the answers @BoiVuong-NOAA !

I will close this issue.

[2022-08-30 15:04] #288 closed, assigned to edwardhartnett

[2022-08-31 14:38] #217 closed, assigned to edwardhartnett

[2022-09-01 13:55] edwardhartnett opened #293 "need gbits()/sbits() which accept ints instead of g2int"
We need versions of the gbits() and sbits() functions that use regular ints, for the new g2c API.

[2022-09-01 15:10] edwardhartnett opened #296 "automatically generate NOAA documentation of GRIB2"
The NOAA GRIB2 documentation is manually updated from WMO and local changes to GRIB2.

Given the WMO CSV table, and a separate CSV for NOAA abbreviations, this documentation should be generated automatically.

Changes from the most recent release of WMO GRIB data should be in red.

[2022-09-01 19:51] #293 closed, assigned to edwardhartnett

[2022-09-03 13:20] edwardhartnett opened #297 "add diagnostic logging to functions"
It's handy when functions use the new LOG(()) capability to log their integer parameters...

[2022-09-06 16:43] edwardhartnett opened #299 "Need new versions of jpcpack()/jpcunpack() and pngpack()/pngunpack() to support fortran use"
The g2 library is going to be calling the g2c library for the  jpcpack()/jpcunpack() and pngpack()/pngunpack() functions. This will reduce duplicate implementation.

But there are a few problems with the C implementation that need to be fixed. Since we need to maintain backward compatibility we will do this by adding functions for the new V2 API which have what we need.
* Consistent use of return

[2022-09-07 10:24] edwardhartnett opened #302 "Release version 1.8.0 of g2c"
In order to do a release of g2, I need to do another release of g2c which includes the changes in #300 and #301.

[2022-09-07 10:46] edwardhartnett opened #303 "Remove use of g2int from new g2c_ API"
In the current API we use g2int everywhere, a type we define as:

[code]

We use this for (almost) all return codes and all integer parameters.

In most cases, an int would be a better fit. Most of the numbers are coming out of GRIB2 files, where they are stored as 32 bit ints (or even smaller ints). So expanding them to 64 bits makes no sense.

In the new g2c_* functions, we will use ints instead

[2022-09-07 15:22] #299 closed, assigned to edwardhartnett

[2022-09-08 14:20] #303 closed, assigned to edwardhartnett

[2022-09-09 13:09] edwardhartnett opened #306 "not reading all 8 bytes of GRIB2 message length in g2_info()"
In section 0 (https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_sect0.shtml) we have:

[code]

Note that this is 8 bytes.

In g2_info() we have (code taken from last release)

[code]

Note that we are reading the last 4 bytes as the length of the GRIB message. We are ignoring the first 4 bytes of this 8 byte integer.

So this will result in a 2GB limit in the size of this number. This i

[2022-09-19 16:21] edwardhartnett opened #308 "handle NOAA abbreviations for GRIB parameters"
NOAA has our own abbreviations for GRIB2 parameters, as well as a mapping between GRIB1 and GRIB2 parameters.

The C library needs to have this information for #209.

Currently this information is in Fortran code in the g2 library. The end state will be to have a CSV file of parameter information in the g2c repository, and to have the Fortran functions in g2 call the C functions in g2c to get the

[2022-09-23 14:27] #308 closed, assigned to edwardhartnett

[2022-10-04 20:44] edwardhartnett opened #320 "more testing"
We still need more testing of this library.

[2022-10-05 17:44] edwardhartnett opened #322 "add function and utility that produces the same output as degrib2"
We have a Fortran program in grib_utils which produces text output summarizing the GRIB2 file, called degrib2.

This would be very helpful to have in the C library as well, because then we could use it for testing and it will automatically check almost everything in the library.

[2022-10-06 15:09] edwardhartnett opened #326 "remove requirement that mac pass CI before PRs are merged"
I hate to do this, but the GitHub MacOS systems are just too darned slow. It's significantly holding back development to have to keep waiting for Macs.

So I will remove the requirement that the mac runs pass before a merge can take place. If they finish, great. If not, then not. I can't keep waiting all day for them...

[2022-10-11 17:52] edwardhartnett commented on #326
This was done but I will still ensure that macs pass all CI.

[2022-10-11 17:52] #326 closed, assigned to edwardhartnett

[2022-10-11 18:01] edwardhartnett opened #329 "stop running CI builds twice or for changes to README"
See https://github.com/orgs/community/discussions/26276

For other projects see https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/165

[2022-10-11 19:49] #329 closed, assigned to edwardhartnett

[2022-10-12 12:35] edwardhartnett opened #331 "duplicate messages in output of g2c_degrib2()"
See https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/162.

[2022-10-12 19:41] #331 closed, assigned to edwardhartnett

[2022-10-13 10:00] edwardhartnett opened #333 "add functions to read/write index files, such as those produced by grb2index utility"
add functions to read/write index files, such as those produced by grb2index utility

[2022-10-17 18:11] edwardhartnett commented on #150
OK, I looked at how the g2 library handled these, and what the documentation says. I changed the code to fix the problems, now the output matches the fortran library.

[2022-10-17 20:36] #150 closed, assigned to edwardhartnett

[2022-10-18 14:56] edwardhartnett opened #344 "code refactor possible for gridtemplates, pdstemplates, drstemplates"
These three code files are all very similar, but define different structs and functions to do the same things.

Instead, have one struct to hold all the template data, and one internal function to get template info and another to get extensions.

Then, all the g2c_get_XXX_template() functions would call this internal function to get the job done, instead of reimplementing the same thing.

[2022-10-18 15:00] edwardhartnett opened #345 "Eliminate use of XML files in installed build"
There is a quarterly release of XML and CSV files from the WMO, with all GRIB tables defined. And we use the XML one. The XML data file is included in the build.

Finding data files after install is non-trivial, and I'm worried about the way NOAA moves things from one machine to another. Will data files be lost or not found?

Instead, the code can be changed to read the XML and output a C program

[2022-10-18 19:39] edwardhartnett commented on #240
I also note that there is no extension info provided for template 35 in the fortran library either.

[2022-10-18 20:01] edwardhartnett opened #346 "pdstemplate 32 (Analysis or Forecast at a horizontal level or in a horizontal layer at a point in time for simulated (synthetic) satellite data) wrong"
For pdstemplate.c we have:

[code]

Since the ext array is of length list[9] * 10, and then initializes list[9] * 5, half of the extension array is not initialized.

Looking at the documents here https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp4-32.shtml seems like the extlen should be list[9] * 5.

When I look at the Fortran code I see that list[9]*5 is correct for the C code:

[

[2022-10-18 20:14] edwardhartnett opened #347 "pdstemplate 51 (Categorical forecasts at a horizontal level or in a horizontal layer at a point in time) has incorrect extension length"
We have:

[code]

in Fortran we have, note the different size of the extension length, 6 instead of 11 times list(16):

[code]
The documentation is here, which makes clear that our fortran implantation is correct: https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp4-51.shtml

[2022-10-19 14:42] #346 closed, assigned to edwardhartnett

[2022-10-19 14:42] #347 closed, assigned to edwardhartnett

[2022-10-21 13:35] edwardhartnett commented on #322
This is working pretty well for two of our test files.

More files need to be tested...

[2022-10-22 13:26] edwardhartnett opened #353 "reduce sizes of max template maplens"
We have the following in grib2.h.in:

[code]

Note that the constants which contain the max number of templates are 31, 47, a 9, the exact number of the templates.

But the MAPLEN is 200 in all cases, which is much larger than needed. So we can change the MAPLENs to exactly match the  max maplens of each type of template. If we later add a template with a longer maplen, we will immediately get a c

[2022-10-22 13:52] edwardhartnett opened #354 "Change name of G2C_MAX_GRID_TEMPLATE to G2C_MAX_GDS_TEMPLATE"
To be consistent with PDS and DRS constant names.

[2022-10-23 00:22] edwardhartnett opened #358 "add clang build to linux CI workflow"
add clang build to linux workflow

[2022-10-24 11:10] #358 closed, assigned to edwardhartnett

[2022-10-28 16:11] edwardhartnett opened #364 "why does opening a file with an index take longer than opening one without an index?"
I have two functions, g2c_open() which opens a file without an index, and g2c_read_index() which opens the file using an index.

I expected using the index to be faster, but it's slower. Here's some code from tst_index.c:

[code]

This produces the following output:

[code]

Part of the problem ,may be that the index file is missing one important piece of information, the section length for sectio

[2022-10-29 15:34] edwardhartnett opened #365 "make g2c threadsafe"
Thread safety is something all the cool kids are doing.

User programs may well wish to use multithreading, and if g2c is threadsafe they can do so.

I think it will be best to add thread safety soon. Then as new features are added, they can be made threadsafe and tests can be written to ensure it.

I am looking at the pthreads library. It's a POSIX library and is available on all platforms, inclu

[2022-11-06 11:08] edwardhartnett commented on #354
This was done some time ago.

[2022-11-06 11:08] #354 closed, assigned to edwardhartnett

[2022-11-06 11:10] edwardhartnett commented on #333
This is working on the sample files I have tried. More testing is needed before closing this issue.

[2022-11-07 13:04] #353 closed, assigned to edwardhartnett

[2022-11-07 13:15] #306 closed, assigned to edwardhartnett

[2022-11-07 13:44] edwardhartnett opened #369 "add option that allows developers to keep test data files locally instead of always downloading from FTP"
We use some FTP files to test g2c, and I intend on adding more.

But downloading them every time I need them is slow. Instead, I will add an option that allows the builder of g2c to optionally specify a TEST_FILE_DIR. If that is specified, and if FTP_TEST_FILES is ON, then cmake will check for the files in TEST_FILE_DIR before downloading them. It will copy them if present, and use the FTP downloa

[2022-11-07 13:55] edwardhartnett opened #371 "add more tests using FTP data files"
We need more tests based around existing GRIB2 files.

I will get some files, write some tests, and add the files to the FTP site so they can be used for testing.

[2022-11-07 14:51] #369 closed, assigned to edwardhartnett

[2022-11-07 15:22] edwardhartnett opened #373 "change read/write macros in grib2_int.h into functions"
I have some macros in grib2_int.h which read and write values from a GRIB2 file.

These macros are becoming more and more complicated. At this point, it makes more sense for them to be functions.

[2022-11-11 16:20] edwardhartnett opened #375 "should section 1 values be stored as unsigned ints?"
We have:

[code]

Should these be unsigned ints?

[2022-11-15 15:18] #373 closed, assigned to edwardhartnett

[2022-11-18 14:59] edwardhartnett opened #378 "add data directory under tests, move all test data files there"
We have various small data, degrib2, and grb2index files used in testing. We also have a bunch of test files we can optionally download from FTP for testing.

I will move them to a data subdirectory.

[2022-11-20 12:23] #378 closed, assigned to edwardhartnett

[2022-11-20 12:26] edwardhartnett opened #381 "not correctly interpreting negative forecast time"
See https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/175

[2022-11-20 13:02] edwardhartnett opened #383 "differences in pdstemplates between g2 and g2c libraries"
When we have the same data in two places it's an invitation for bugs. We invited them in, now we have them. ;-)

pdstemplate info is stored in both the C and Fortran libraries. What I have just discovered is that there are numerous differences.

For example, in NCEPLIBS-g2/src/pdstemplates.F90:

[code]

From NCEPLIBS-g2c/src/pdstemplates.c:

`    {0, 15, 0, {1, 1, 1, 1, 1, 2, 1, 1, -4, 1, -1, -4,

[2022-11-26 18:32] edwardhartnett opened #386 "cache FTP data files in CI builds"
We have some test data files on the FTP site which can optionally be downloaded for testing.

This happens in one of the CI builds.

To reduce time and bandwidth, cause the CI system to cache the FTP test data so it does not need to download it every time the CI system is run.

[2022-11-29 10:56] #386 closed, assigned to edwardhartnett